@media (min-width: 320px) and (max-width: 480px) {
    .padding-all{
        padding: 0px 15px;
    }
    .padding-right{
        padding-right: 15px;
    }
    .padding-left{
        padding-left:  15px;
    }
    .Professional-contant{
        font-size: 20px !important;
        padding-bottom: 15px;
        margin-top: 75px; 
    }
    .Management{
        font-size: 30px !important;
    }
    .unav nav{
         width: 225px !important;
    }
    .book-a-demo>a{
         padding: 8px 14px !important;
         font-size: 13px !important;
         background: #f8a31b;
        color: #ffffff;
        background: #f8a31b;
        padding: 10px 20px;
        border-radius: 5px;
        text-transform: capitalize;
    }
    .book-a-demo>a:hover{
        text-decoration: none;
    }
    .book-a-demo {
        margin-top: 30px !important;
        margin-left: -14px !important;
    }
    .unav-burger{
        margin-top: -25px !important;
        margin-left: 18px;
    }
    .Awesome-Features>h1{
         font-size: 20px !important;
         margin-top: 30px !important;
    }
     .Awesome-Features>p{
         font-size: 14px !important;
    }
    .img-block{
         margin:0px auto;
         display: block;
         float: none;
    }
    .contant-block{
         width: 100% !important;
    }
     .contant-block>h1{
         text-align: center;
    }
     .footer-heading-last ul li p{
         padding-right: 0px;
    }
    .why-us-block>p{
         font-size: 14px !important;
         text-align: center;
    }
    .Download-Brochure{
         padding: 8px 10px;
         /*width: 185px !important;*/
         font-size: 14px !important;
         margin-top: 10px;
    }
    .Download-Brochure:hover{
         padding: 7px 10px;
    }
     .why-us-block img{
         margin: 0px auto;
         display: block;
    }
    .item{
         height: 0px !important;
    }
    .product-account-main1 .img-product{
         margin-left: 40% !important;
    }
     .product-account-main .img-product{
         margin-left: 40% !important;
    }
    .company-contant p{
         text-align: justify;
         font-size: 15px;
         line-height: 28px;
    }
    .company-main-block>p{
         text-align: justify;
         font-size: 15px;
    }
     .company-list-contant>li>p{
         float: left;
         width: 88%;
    }
     .company-main-block>h1{
        text-align: center;
        font-size: 22px;
        margin-top: 20px;
    }
     .team-our-main-block>h1{
         font-size: 24px;
    }
     .our-team-block {
         margin-top: 24px !important;
    }
     .img-block{
         display: block;
    }
     .School-account-main{
        margin-left: 0px !important;
        margin-bottom: 20px;
    }
    .singleiphone img{
        height: auto;
        margin-left: 19px;
    }
    /* .bg-banner{
         height: 350px !important;
         width: 97px !important;
    }*/
    .admin-protal{
         height: auto !important;
         margin-top: 0px;
    }
     #demos, .why-us-block>a>img{
         height: auto !important;
    }
    .why-us-main{
         margin-top: 20px;
    }
    /* .Admin-Portal-contant>h1{
         margin-top: 0px !important;
         margin-bottom: 20px;
         font-size: 24px;
    }*/
    .Admin-Portal-contant>b{
         margin-left: 0px !important;
         font-size: 18px;
    }
     .unav{
         position: absolute !important;
         right: 0 !important;
         width: 47% !important;
    }
     .why-us-block>h1>a{
         font-size: 17px;
    }
    .company-contant>h1{
         margin-top: 20px;
         font-size: 22px;
         text-align: center;
         line-height: 27px;
    }
     .company-contant>p:nth-child(3){
         margin-top: 15px !important;
         font-size: 15px !important;
         line-height: 28px;
    }
     .input_block_submit-block{
         width: auto !important;
    }
     .input_block_submit-button{
         /*width: 65% !important;*/
         line-height: 38px !important;
         margin-left: 0px !important;
         width: 100%;
         margin-top: 20px;
         margin-bottom: 10px;
    }
    .form-became-partner>h2{
        font-size: 21px;
    }
     .form-became-partner-block{
         margin-top: 30px;
         margin-bottom: 30px;
    }
     .submit-partner{
         margin-left: 26% !important;
         margin-top: 35px !important;
         width: 120px !important;
         padding: 6px !important;
    }
    .Product-heading>h1{
        font-size: 19px !important;
        padding: 0px 15px;
    }
    .Product-contant{
        padding: 0px 15px;
    }
    .i-phone{
        top: 39px;
        left: 6.5%;
        height: auto;
    }
     .management-tool-content{
        float: left;
        width: 88% !important;
    }
    .school-main-block{
        padding-top: 26px;
    }
    .contant-block>p{
        text-align: center;
    }
     .contant-block>h1{
        margin-top: 20px;
        text-align: center;
    }
     .Admin-Portal-contant>h1{
        margin-top: 40px;
    }
    .Admin-Portal-contant>h1{
        font-size: 28px;
        text-align: center;
    }
    .why-us-block>h1{
        text-align: center;
    }
    .all-icon-block{
        float: none;
        margin-left: 11%;
    }
    .footer{
        padding-bottom: 20px;
    }
    .footer-heading-last ul li p{
        padding-right: 0px;
    }
    .footer-heading>h1{
        margin-top: 30px;
    }
    .modal-content{
        width: 85%;
    }
    .new-school-contant{
        width: 100%;
    }
    .Awesome-Features p{
        width: auto;
    }
    .singleiphone{
        margin-top: 5px;
    }
    .All-Rights{
        text-align: center;
        line-height: 26px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
   .footer-heading-last ul li p{
        padding-right: 0px;
   }
   /*about us page start*/
   .about-contant>h1{
        font-size: 18px;
        margin-top: 20px;
        padding-top: 0px;
   }
   .about-contant>p{
        width: 100%;
        font-size: 13px;
        text-align: justify;
        padding-top: 0px;
   }
   .Download-Brochure{
        margin-left: 22%;
   }
   .Product-contant{
        margin-bottom: 27px;
   }
   .Product-heading>h1{
        margin-top: 66px;
   }
   .inner-banner{
        height: auto;
   }
   .Product-heading>h1{
        font-size: 18px;
   }
   .featur-protal{
        margin-top: 30px;
   }
   .Features-contant>h1{
        margin-top: 30px;
   }
   .Features-contant>h1{
        font-size: 18px;
   }
   .Features-contant>p{
        width: 100%;
        font-size: 13px;
            line-height: 22px;
   }
   .featur--Portal-contant>img{
        height: auto;
   }
   .feature-main-block{
        padding-top: 10px;
   }
   .product-account-main1{
        margin-top: 20px;
   }
   .School-Fees>h1{
        font-size: 19px;
        margin-top: 30px;
   }
   .School-Fees>p{
        width: 100%;
   }
   /*company*/
   .company-contant img{
        width: 100%;
        margin-left: 0px;
   }
   /*.we-provied{
        padding-left: 15px;
        padding-right: 15px;
   }*/
   /*contact us*/
   .contact_right{
        width: 100%;
   }
   .input_block_left{
        width: 100%;
        margin-top: 20px;
   }
   .input {
        width: 100% !important;
   }
    .subject{
        width: 100% !important;
    }
    .address{
        width: 100% !important;
    }

   .contant_head_contant{
        font-size: 23px;
   }
   .input-box{
        width: 78%;
   }
   .input-block{
        width: 100%;
   }
   .company-vlalue-block>h1{
            font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
   }
   .company-vlalue-block>p{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        text-align: justify;
   }
   .company-vlalue-block{
        padding-left: 15px;
        padding-right: 15px;
   }
   .our-value-block{
        margin-top: 20px;    
   }
   .why-value-block{
        margin-top: 0px;
   }
   .meet-our-team{
        padding-bottom: 20px;
   }
   .form-became-partner{
        padding: 20px 20px;
   }
   .form-became-partner>h2{
        margin-top: 0px;
   }
   .owl-theme .owl-nav.disabled+.owl-dots{
        top:0px; 
   }
   .image3{
        right: 0px;
   }
   .image2{
        right: 0px;
        top: 0px;
   }
   .image3  img{
        height: 189px;
   }
   .image1  img{
        height: 21%;
   }
   .bg-banner{
        height:auto;
        padding-bottom: 40px;
   }
   .image1{
        top: 95px;
        /*z-index: 999;*/
        left: 10px;
   }
   .image3{
       top: 71px;
        right: -9px;
   }
   #demos .owl-theme .owl-nav.disabled+.owl-dots{
        left: 129px;
   }
   .unav-burger{
        width: 35px!important;
        height: 35px!important;
   }
   .unav-burger span{
        left: 15% !important;
        /*right: 11% !important;*/
        width: 65%;
   }
   .unav-burger span::before, .unav-burger span::after{
        width: 65%;
        left: px;
   }
   #demos2>.owl-theme .owl-nav.disabled+.owl-dots{
        left: 120px !important;
        top: 10px;
   }
   .whybg-banner{
        height: auto;
        /*padding-bottom: 40px;*/
   }
   .banner{
        height: 456px;
   }
   .list-contant>li{
        font-size: 15px;
   }
   .iphone-img{
        margin-top: 115px;
   }
   .last-footer{
        padding-bottom: 21px;
   }
   .list-contant{
        margin-top: 19px;
   }
   .featur-protal{
        padding-bottom: 40px;
   }
   .Admin-Portal-contant>p:nth-child(4){
        margin-top: 16px;
   }
   .School-Fees-main{
        margin-bottom: 10px;
        padding-bottom: 30px;
   }
   .input-box{
        font-size: 11px;
   }
   .image22{
        position: relative;
        top: 8px;
        right: -5px;
        float: right;
   }
   .image11{
        position: absolute;
        top: 98px;
        z-index: 9;
        left: 16px;
   }
   .image11 img{
        height: 150px;
   }
   .image33{
        top: 90px;
        bottom: 0px;
        right: 13px;
   }
   .image33 img{
        height: 150px;
   }
   .School-Fees{
    margin-bottom: 10px;
   }
   .unav-dropdown-menu{
    padding: 10px 10px;
    overflow: scroll;
    min-height: 200px !important;
    height: 300px;
   }
   
   .owl-dots:after{
        content: counter(slides-num);
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    padding-left: 18px;
    position: relative;
    left: 108px;
    top: -24px;
    color: #192652;
   }
   .owl-dot.active:before{
    content: counter(slides-num) " / ";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    right: -44px;
    top: -4;
    color: #192652;
   }
   .owl-theme .owl-nav.disabled+.owl-dots{
        left: 105px;
        width: 34%;
   }
   .why-us-block{
        min-height: 312px !important;
        margin-bottom: 0px;
   }
   .read_more{
        margin-bottom: 20px;
        margin-top: 20px;
   }
   .product-account-main1{
        margin-bottom: 0px;
   }
   .product-account-main{
        margin-bottom: 0px;
   }
   .contact_form{
        margin-top: 27%;
   }
   .why-us-block-one{
        min-height: 300px !important;
        margin-bottom: 20px;
   }
   .why-us-block{
        margin-bottom: 20px;
     }   
   .team-png{
        margin-top: 0px;
   }
   .Admin-Portal-img{
        height: 518px;
   }
   .why-us-block-one a img{
        height: 70px !important;
   }
   .model-header>p{
        padding-left: 20px;
   }
   .our-value p{
        min-height: 150px !important;
   }

}
@media (min-width: 350px) and (max-width: 480px) {
    .all-icon-block{
        margin-left: 19%;
    }
}
@media (min-width: 411px) and (max-width: 731px) {
    .i-phone{
        top: 39px;
        left: 10.5% !important;
    }
}

@media (min-width:481px) and (max-width:767px) {

    .unav{
        left: 104px;
        margin-top: -18px;
    }
    /*.image3  img{
        height: 200px;
    }*/
    .Download-Brochure{
         width: 200px !important;
         font-size: 15px !important;
         border: 1px solid #f8a31b; 
    }
    .company-contant>p{
        text-align: justify;
    }
    .company-contant>p:nth-child(3){
        text-align: justify;
    }
    .company-main-block>p{
        text-align: justify;
    }
    .team-our-main-block>h1{
        font-size: 24px;
    }
    .our-team-block{
        margin-top: 30px;
    }
    .Download-Brochure:hover{
        padding: 9px 9px;
    }
    .modal-content {
         background-color: #fefefe;
         margin: auto;
         border: 2px solid #1f2f61;
         width: 100%;
         z-index: 9999;
    }
    .padding_left{
         padding-left: 15px;
    }
    .padding_right {
         padding-right: 15px;
    }
    .Management {
         font-size: 32px;
         margin-left: 5px;
    }
    .contant-block {
         float: left;
         width: 71%;
    }
    .Professional-contant {
         margin-left: 5px;
         margin-top: 50px;
    }
    .list-contant>li {
         float: left;
         font-size: 15px;
         width: 100%;
    }
    .list-contant>li>span {
         height: 21px;
         float: left;
    }
    .padding_zero {
         padding: 15px;
    }
    .iphone-img {
         width: auto;
         margin:auto;
         margin-top: 0px;
    }
    .Awesome-Features>h1 {
         font-size: 25px;
         margin-top: 50px;
    }
     .Awesome-Features>p {
         width: 100%;
    }
    .school-main-block {
         padding-top: 30px;
    }
    .School-account-main {
         width: 100%;
         margin-bottom: 22px;
    }
    .contant-block>h1 {
         font-size: 16px;
    }
    .Admin-Portal-contant {
         padding: 0px;
    }
    .Admin-Portal-contant>p {
         width: 100%;
    }
     .Admin-Portal-contant>h1 {
         font-size: 25px;
         margin-top: 20px;
         text-align: center;
    }
    .Admin-Portal-contant>b {
         text-align: center !important;
    }
    .Admin-Portal-img>img {
        position: relative;
        top: 18px;
        width: 100%;
        left: 24%;
    }
    .read_more {
         margin: auto;
         width: 130PX;
         height: 40px;
         border-radius: 5px;
         text-align: center;
         background: #f8a31b;
         padding: 10px 20px;
         border-radius: 5px;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 500;
         margin-top: 35px;
         line-height: 20px;
         margin-bottom: 30px;
    }
    .navbar {
         margin-bottom: -12px !important;
    }
     .singleiphone {
         margin-top: 0px;
    }
    .School-Fees-main {
         margin-bottom: 0px;
    }
    .why-us-block>img {
         margin-left: 130px;
    }
    .why-us-block>h1 {
         text-align: center;
    }
    .why-us-block>p {
         text-align: center;
    }
    .image1 {
         position: absolute;
         top: 155px;
         /*z-index: 999;*/
         /*width: 10%;*/
    }
    .image2 {
         position: relative;
         top: 40px;
         right: -8px;
         float: right;
    }
    .image3 {
         position: absolute;
         top: 88px;
         bottom: 0px;
         right: 10px;
         width: 28%;
    }
    .whybg-banner {
         height: 500px !important;
    }
     .modal-content {
         width: 90% !important;
    }
    .why-value-block {
         min-height: 0px !important;
    }
    .Admin-Portal-img {
         width: 100%;
         padding: 10px 10px 10px 0px !important;
    }
    .our-mission,.Our-values {
         padding-bottom: 0px;
    }
    .bg-banner {
         width: 100%;
         height: 435px;
         background: url(../images/bg.jpg);
    }
    .footer-img>img {
         width: 30%;
         display: none;
    }
    .footer-heading>h1 {
         margin-top: 30px;
    }
    .res-xs {
         display: block;
         position: relative;
         top: 20px;
    }
    .all-icon-block {
         float: none;
         padding: 0px 33%;
    }
     .book-a-demo>a {
         text-decoration: none;
         font-family: 'Open Sans';
         font-weight: 400;
         font-size: 14px;
         background: #ffa929;
         padding: 5px;
         position: relative;
         top: 8px;
         left: 108px;
         color: #fff;
         padding: 7px 19px;
         text-transform: capitalize;
         border-radius: 5px;
    }
    .input_block_submit-button {
         width: 60%;
         border-radius: 30px;
         background: #2d3864;
         text-align: center;
         line-height: 40px;
         margin-left: 0%;
    }
     .All-Rights {
         margin-top: -30px;
         line-height: 47px;
         text-align: center;
    }
    .footer {
         width: 100%;
         background-size: cover;
         padding-bottom: 24px;
    }
     .footer-heading>ul>li {
         float: left;
    }
     .admin-protal {
         height: 1010px;
         margin-top: 20px;
         padding: 0px;
    }
     .why-us-block {
         width: 100%;
         margin-bottom: 35px;
         transition: 1s;
         border: 1px solid #e9ecef;
         padding: 15px;
    }
    .company-vlalue-block>h1 ,.our-value-block {
         margin-top: 10px;
         font-size: 25px;
    }
     .company-vlalue-block>p {
         width: 100%;
         margin-bottom: 40px;
    }
     .our-value-block {
         margin-bottom: 20px;
    }
     .team-our-main-block>h1 {
         margin-top: 0px;
    }
     .meet-our-team {
         padding-bottom: 40px;
    }
     .company-contant>h1 {
         margin-top: 20px;
    }
     #demos {
         height: 1220px;
    }
     .header {
         height: 75px;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
         bottom:46px !important;
         position: relative;
         bottom: 115px;
         left: -17px;
         width: 100%;
    }
     .logo-back {
         width: 50px !important;
         height: 30px !important;
         border-radius: 55px;
         background: #fff;
         position: absolute;
         left: -7px;
    }
     .logo-back>a>img {
         margin-top: -15px;
         width: 100%;
    }
    
     .product-account-main {
         margin-bottom: 20px;
         margin-top: 20px;
    }
     .Download-Brochure {
         margin-left: 0%;
    }
    .Download-Brochure{
        padding: 9px 9px;
        margin-top: 10px;
    }
     #demos2 {
         margin-top: 20px;
    }
    .inner-banner {
         height: 100px;
    }
     .Product-heading>h1 {
         font-size: 20px;
         margin-top:30px;
         text-align: center;
    }
    .Product-contant {
         text-align: center;
    }
     .about-contant>h1 ,.Features-contant>h1 , .School-Fees>h1{
         font-size: 18px;
         margin-top: 30px;
    }
    .about-contant>p,.Features-contant>p,.School-Fees>p {
         width: 100%;
         text-align: justify;
         font-size: 14px;
    }
     .featur--Portal-contant>img {
         height: auto;
    }
     .feature-main-block {
         padding-top: 0px;
    }
     .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 0px;
    }
     .featur-protal {
         margin-top: 30px;
         padding-bottom: 0px;
    }
    .feature-main-xs {
         margin-top: 0px;
    }
     .School-Fees {
         margin-bottom: 20px;
    }
    /*end product*/
    /*contact page code*/
     .map {
         height: 360px;
         margin-top: 20px;
    }
     .contact_right {
         width: 100%;
         float: left;
         padding: 10px 10px 10px 24px ;
    }
     .input_block_submit-block {
         margin-bottom: 30px;
    }
     .form-fluid {
         bottom: 200px;
    }
     .testimonail_row_bottom {
         margin-bottom: 5px;
    }
     .input_block_submit-block {
         width: 288px;
         padding: 5px 0 5px 0px;
    }
    .contact_right .help-block {
         margin-left: 0px;
         margin-bottom: -14px;
    }
    /*end*/
    /*company page code start*/
     .company-contant>h1 {
         margin-top: 20px;
         font-size: 25px;
         text-align:center;
    }
     .team-img {
         margin-top: 20px;
         margin-left: 0px;
    }
     .company-main-block>h1 {
         font-size: 25px;
         margin-top: 20px;
    }
     .company-list-contant {
         margin-top: 15px;
         margin-bottom: 15px;
    }
     .company-list-contant>li {
         font-size: 14px;
    }
     .team-png {
         margin-top: 30px;
         margin-bottom: 20px;
    }

    /*end*/
    /*bacome page code start*/
     .input-box {
         border:none;
         width:76%;
         font-size:13px;
         margin-left: 10px;
    }
     .submit-partner {
         float: none;
         margin-left:70px;
         margin-top: 50px;
    }
     .submit-partner:hover {
         float: none;
         margin-left:70px;
         margin-top: 50px;
    }
    .management-tool-content {
        float: left;
        width: 90%;
    }
    .why-us-block>a>img{
        height: auto;
        display: block;
        margin: 0px auto;
    }
    .feature-main-block .owl-carousel .owl-stage-outer{
        height: 350px;   
    }
    #demos2>.owl-theme .owl-nav.disabled+.owl-dots{
        top: 19px;
        left: 0px !important; 
    }
    .company-main-block>h1{
        text-align: center;
    }
    .why-value-block{
        margin-top: 0px;
    }
    
    .i-phone{
        left: 31%;
        height: auto;        
    }
    .image3{
        right: 14px;
        top: 227px;
   }
   .image2{
        right: 0px;
   }

   .image1{
        top: 240px;
        left: 20px;
    }
   .image1 img{
        height: 182px;
   }
   .image22{
        position: relative;
        top: 8px;
        right: -5px;
        float: right;
   }
   .image11{
        position: absolute;
        top: 180px;
        z-index: 9;
        left: 28px;
   }
   .image11 img{
        height: 250px;
   }
   .image33{
        top: 190px;
        bottom: 0px;
        right: 13px;
   }
   .image33 img{
        height: 280px;
   }
   .unav-dropdown-menu{
        padding: 10px 10px;
        overflow: scroll;
        min-height: 200px !important;
        height: 300px;
   }
   /*.unav nav{
        width: 300px !important;
   }*/
   /*.book-a-demo{
        margin-left: 54px !important;
   }*/
   .owl-dot.active:before{
    content: counter(slides-num) " / ";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    right: 196px;
    top: 0;
    color: #192652;
   }
   .owl-dots:after{
    content: counter(slides-num);
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    padding-left: 18px;
    position: relative;
    left: 55px;
    top: -3px;
    color: #192652;
   }
   .contact_form{
        margin-top: 35%;
   }
}


@media (min-width:768px) and (max-width:1024px) {
    /*.container{
        width: auto;
    }*/
    .navbar{
        margin-left:  0px !important;
    }
     .padding-all{
        padding: 0px 15px;
    }

    .padding-all-remove{
        padding: 0px;
    }
     .footer-heading-last ul li p{
         padding-right: 0px;
    }
    
     .navbar {
         margin-left: 0px;
    }
    .nav>li>a {
         text-align: center;
         color: #2c3e50;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 400;
         line-height: 51px;
         padding-left: 11px;
         padding-right: 15px;
         text-transform: capitalize;
    }
    .nav>li:last-child a>span {
         text-align: center;
         color: #ffffff;
         background: #f8a31b;
         padding: 10px 18px;
         border-radius: 5px;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 400;
    }
    .Management {
         font-size: 37px;
    }
    .list-contant>li>span {
         width: 17px;
         height: 31px;
         float: left;
    }
    .list-contant>li {
         font-family: 'Poppins';
         font-weight: 400;
         color: #fff;
         font-size: 18px;
         float: left;
         text-transform: capitalize;
         width: 100%;
    }
    .iphone-img {
         margin-top: 125px;
         width: 90%;
    }
     .Awesome-Features>h1 {
         padding-top: 5%;
    }
     .Awesome-Features>p {
         width: 85%;
    }
     .school-main-block {
         padding-top: 56px;
    }
     .singleiphone img {
         margin: auto;
         width: 90%;
         margin-top:100px;
         height: auto;
    }
     .contant-block {
         width: 100%;
         margin-top: 10px;
    }
     .contant-block-tab {
         width: 65%;
    }
     .contant-block-tab>h1,.contant-block-tab>p {
         text-align: left !important;
    }
    .contant-block>h1 {
         font-size: 15px;
         text-align: center;
    }
    .contant-block>p{
        font-size: 13px;
    }
     .img-block {
         margin: auto;
         margin-left: 80px;
    }
    .Admin-Portal-img>img {
         position: relative;
         top: 40px;
         width: 100%;
    }
     .admin-protal {
         margin-top: 0px;
         margin-bottom: -60px;
         height: 540px;
    }
     #demos {
         height: 505px;
         overflow: hidden;
    }
     .i-phone {
         width: 345px !important;
         position: relative;
         height: 507px;
         top: 62px;
         left: 6%;
    }
     .Admin-Portal-contant>h1 {
         margin-top: 60px;
         font-size: 30px;
    }
     .Admin-Portal-contant>b {
         font-size: 16px;
    }
     .Admin-Portal-contant>p {
         font-size: 15px;
         line-height: 25px;
    }
     .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 0px;
         position: relative;
         bottom: 67px;
         left: 147px;
         width: 30%;
    }
     .Admin-Portal-contant>p:nth-child(4) {
         font-size: 15px;
    }
    .image2 {
         right:0px;
         width: 86%;
         position: relative;
         right: 60px;
         top: 10px;
    }
     .image3 {
         position: absolute;
         bottom: 0px;
         width: 44%;
         right: -51px;
         top: 166px;
    }
     .image1 {
        position: absolute;
        top: 219px;
      /*  z-index: 999;*/
        width: 30%;
        /* left: 54px; */
        /* height: 22px; */
    }
    
     .bg-banner {
        /* height: 590px;*/
        padding-bottom: 12%;
        height: auto;
    }
     .footer-img>a>img {
         margin-top: 50px;
         width: 80%;
         margin-left: 20px;
    }
    .tab-res {
         margin:0px;
         padding:0px;
    }
     .footer-heading>ul>li {
         font-size: 11px;
    }
     .footer-heading>ul>li>a {
         font-size: 12px;
    }
     .All-Rights {
        /* padding-left: 30px;*/
        /*margin-top: 28px;
        */
    }
     .all-icon-block {
        /*margin-top: 30px;
        */
         float: right;
         margin-right: 10px;
    }
     .footer-heading>ul>li {
         float: left;
         color: #ffffff;
         text-transform: capitalize;
    }
    .img-product-block img {
         margin: auto;
         width: 50%;
    }
     .img-product-block {
         width: 60px;
         height: 60px;
         border-radius: 30px;
         box-shadow: 0px 0px 10px 0px #e9ecef;
    }
     .Download-Brochure {
         margin-left: 35%;
    }
    /*end product*/
    /*contact page code*/
     .contact_left_block {
         padding-left: 15px;
         padding-right: 12px;
    }
     .form-fluid {
         padding-left: 11px;
    }
    /*end contact*/
    /*why us page*/
     .company-vlalue-block>h1 {
         margin-top: 20px;
    }
     .why-value-block {
         min-height: 330px;
        margin-top: 20px;     
    }
     .whybg-banner {
         height: 550px;
    }
     .modal-content {
         width: 80%;
    }
    /*partner page code */
     .input-box {
         width: 82%;
         font-size: 12px;
    }
     .team-partner-img {
         margin: auto;
         margin-top: 149px;
    }
    .featur--Portal-contant>img{
        height: 380px;
    }
    .product-account-main1{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .product-account-main{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .feature-main-block .owl-carousel.owl-drag .owl-item{
        height: 420px;
    }
    .School-Fees>h1{
        font-size: 24px;
    }
    .School-Fees>p{
        font-size: 14px;
    }
    .School-Fees{
        margin-bottom: 40px;
    }
    .why-us-block>a>img{
        height: 47px;
        margin: 0px auto;
        display: block;

    }
    .Download-Brochure{
        width: 211px;
        font-size: 16px;
        font-family: 'Poppins';
        margin-top: 10px;
        margin-left: 40%;
        color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        background: #f8a31b;
        border: 1px solid #f8a31b;
    }
    .Download-Brochure:hover{
        width: 205px;
        font-size: 18px;
        font-family: 'Poppins';
        margin-top: 10px;
        margin-left: 40%;
        color: #f8a31b;
        padding: 8px 10px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #f8a31b;
    }
    .Product-heading>h1{
        font-size: 24px;
        margin-top: 70px;
        text-align: center;
    }
    .Product-contant{
        text-align: center;
    }
    .inner-banner{
        height: 175px;
    }
    .about-contant>h1{
        font-size: 24px;
    }
    .about-contant>p{
        font-size: 15px;
    }
    .featur-protal{
        margin-top: 40px;
    }
    .Features-contant>h1{
        font-size: 24px;
        margin-top: 40px;
    }
    .Features-contant>p{
        width: 100%;
        font-size: 15px;
    }
    .company-contant>h1{
        font-size: 25px;
    }
    .company-contant>p{
        text-align: justify;
    }.company-main-block>p{
        text-align: justify;
    }
    .company-list-contant>li{
        width: 100%;
    }
    .company-list-contant>li>span{
        width: 20px;
        float: left;
    }
    .company-list-contant li p{
        width: 90%;
        float: left;
    }
    #model-user .help-block{
        padding-left: 24px;
    }
    .management-tool-content{
        float: left;
        width: 91%;
    }
    .School-account-main{
        margin-bottom: 10px;
    }
    .why-us-block h1{
        text-align: center;
    }
    .why-us-block>h1>a{
        font-size: 17px;
    }
     .school-main-block{
        padding-top: 30px;
    }
    .Awesome-Features>h1{
        font-size: 28px;
    }
    .Awesome-Features>p{
        font-size: 15px;
    }
    .footer-heading-other ul li p{
        width: 85%;
    }
    .navbar{
        margin-left: 4px;
    }
    .why-us-block>p{
        text-align: justify;
    }
    .contact_left_block ul li span{
        width: 30px;
        float: left;
    }
    .contact_left_block ul li span i{
        margin-top: 5px;
    }
    .contact_left_block ul li p{
        float: left;
        width: 85%;
    }
    .image1{
        left: 24px;
        top: 170px;
    }
    .image1 img{
        height: 280px;
    }
    .image3 img{
        height: 300px;
    }
    .input_block_submit-button{
        margin-top: 28px;
    }
    .image22{
        position: relative;
        top: 8px;
        right: -5px;
        float: right;
   }
   .image11{
        position: absolute;
        top: 215px;
        z-index: 9;
        left: 28px;
   }
   .image11 img{
        height: 280px;
   }
   .image33{
        top: 190px;
        bottom: 0px;
        right: 13px;
   }
   .image33 img{
        height: 300px;
   }
   .address-div{
      width: 89%;
    /* border: 1px red solid; */
    float: left;
    padding-bottom: 26px;
}
.owl-dots:after{
    position: relative;
    left: 28px;
    top: -4px;
    color: #192652;
}
.owl-dot.active:before{
        position: absolute;
    right: 36px;
    top: 0;
    color: #192652;
}
.our-mission{
    margin-top: 0px;
}
.why-us-block{
    min-height: 401px !important;
}
.contact_form{
        margin-top: 16%;
   }
.why-us-block-one{
   min-height: 390px !important;
}
.School-Fees-main{
    margin-bottom: 0px;
}
.navbar-menu li ul{
 left: -5%;   
}
.productsub-menu li ul li i{
    width: 10%;
    border: 0px red solid;
    float: left;
    padding-top: 8px;
}
.productsub-menu li ul li a{
        width: 90%;
    float: left;
}
.img-product{
    margin-top: 10px;
}
.trem-condition>p{
    padding-right: 15px;
}
.our-value{
  min-height: 550px;
  border: 0px red solid;
}
}



