 @media (min-width:320px) and (max-width:480px) 
 {

     .unav nav{
         width: 225px !important;
    }
     .book-a-demo>a{
         padding: 7px 7px !important;
         font-size: 13px !important;
    }
     .Awesome-Features>h1{
         font-size: 21px;
         margin-top: 32px;
    }
     .img-block{
         margin:0px auto;
         display: block;
         float: none;
    }
     .contant-block{
         width: 100% !important;
    }
     .contant-block>h1{
         text-align: center;
    }
     .footer-heading-last ul li p{
         padding-right: 0px;
    }
     .Awesome-Features>h1{
         font-size: 20px !important;
         margin-top: 30px !important;
    }
     .Awesome-Features>p{
         font-size: 14px !important;
    }
     .why-us-block>p{
         font-size: 14px !important;
    }
     .Download-Brochure{
         padding: 8px 10px;
         width: 185px !important;
         font-size: 16px !important;
         margin-top: 10px;
    }
     .Download-Brochure:hover{
         padding: 7px 10px;
    }
     .why-us-block img{
         margin: 0px auto;
         display: block;
    }
     .item{
         height: 0px !important;
    }
     .product-account-main1 .img-product{
         margin-left: 40% !important;
    }
     .product-account-main .img-product{
         margin-left: 40% !important;
    }
     .company-contant p{
         text-align: justify;
         font-size: 15px;
         line-height: 28px;
    }
     .company-main-block>p{
         text-align: justify;
         font-size: 15px;
    }
     .company-list-contant>li>p{
         float: left;
         width: 88%;
    }
     .company-main-block>h1{
         text-align: center;
    }
     .team-our-main-block>h1{
         font-size: 24px;
    }
     .our-team-block {
         margin-top: 24px !important;
    }
     .img-block{
         display: block;
    }
     .School-account-main{
         margin-left: 0px !important;
    }
     .singleiphone img{
         height: auto;
    }
     .bg-banner{
         height: 350px !important;
    }
     .admin-protal{
         height: auto !important;
    }
     #demos, .why-us-block>a>img{
         height: auto !important;
    }
     .why-us-main{
         margin-top: 20px;
    }
     .Admin-Portal-contant>h1{
         margin-top: 0px !important;
         margin-bottom: 20px;
         font-size: 24px;
    }
     .Admin-Portal-contant>b{
         margin-left: 0px !important;
         font-size: 18px;
    }
     .unav{
         position: absolute !important;
         right: 0 !important;
         width: 47% !important;
    }
     .why-us-block>h1>a{
         font-size: 17px;
    }
     .company-contant>h1{
         margin-top: 12px;
         font-size: 22px;
         text-align: center;
    }
     .company-contant>p:nth-child(3){
         margin-top: 15px !important;
         font-size: 15px !important;
         line-height: 28px;
    }
     .input_block_submit-block{
         width: auto !important;
    }
     .input_block_submit-button{
         width: 65% !important;
         line-height: 38px !important;
         margin-left: 35px !important;
    }
     .form-became-partner-block{
         margin-top: 30px;
         margin-bottom: 30px;
    }
     .submit-partner{
         margin-left: 26% !important;
         margin-top: 35px !important;
         width: 120px !important;
         padding: 6px !important;
    }
    .Product-heading>h1{
        font-size: 21px !important;
    }
}

 @media (min-width:481px) and (max-width:767px) {
     .Download-Brochure{
         width: 200px !important;
         font-size: 16px !important;
    }
    
     .modal-content {
         background-color: #fefefe;
         margin: auto;
         border: 2px solid #1f2f61;
         width: 100%;
         z-index: 9999;
    }
     .padding_left{
         padding-left: 15px;
    }
     .padding_right {
         padding-right: 15px;
    }
  
     .Management {
         font-size: 32px;
         margin-left: 5px;
    }
     .contant-block {
         float: left;
         width: 71%;
    }
     .Professional-contant {
         margin-left: 5px;
         margin-top: 50px;
    }
     .list-contant>li {
         float: left;
         font-size: 15px;
    }
     .list-contant>li>span {
         height: 21px;
         float: left;
    }
     .padding_zero {
         padding: 15px;
    }
     .iphone-img {
         width: 80%;
         margin:auto;
         margin-top: 50px;
    }
     .Awesome-Features>h1 {
         font-size: 25px;
         margin-top: 50px;
    }
     .Awesome-Features>p {
         width: 100%;
    }
     .school-main-block {
         padding-top: 30px;
    }
     .School-account-main {
         width: 100%;
         margin-bottom: 22px;
    }
     .contant-block>h1 {
         font-size: 16px;
    }
     .Admin-Portal-contant {
         padding: 0px;
    }
     .Admin-Portal-contant>p {
         width: 100%;
    }
     .Admin-Portal-contant>h1 {
         font-size: 25px;
         margin-top: 20px;
         text-align: center;
    }
     .Admin-Portal-contant>b {
         text-align: center !important;
    }
     .Admin-Portal-img>img {
         position: relative;
         top: 1px;
         width: 100%;
         left:15px;
    }
     .read_more {
         margin: auto;
         width: 130PX;
         height: 40px;
         border-radius: 5px;
         text-align: center;
         background: #f8a31b;
         padding: 10px 20px;
         border-radius: 5px;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 500;
         margin-top: 35px;
         line-height: 20px;
         margin-bottom: 30px;
    }
     .navbar {
         margin-bottom: -12px !important;
    }
     .singleiphone {
         margin-top: 0px;
    }
     .School-Fees-main {
         margin-bottom: 0px;
    }
     .why-us-block>img {
         margin-left: 130px;
    }
     .why-us-block>h1 {
         text-align: center;
    }
     .why-us-block>p {
         text-align: center;
    }
     .image1 {
         position: absolute;
         top: 155px;
         z-index: 999;
         width: 10%;
    }
     .image2 {
         position: relative;
         top: 40px;
         right: -8px;
         float: right;
    }
     .image3 {
         position: absolute;
         top: 88px;
         bottom: 0px;
         right: 10px;
         width: 28%;
    }
     .whybg-banner {
         height: 340px !important;
    }
     .modal-content {
         width: 100% !important;
    }
     .why-value-block {
         min-height: 0px !important;
    }
     .Admin-Portal-img {
         width: 115%;
         padding: 10px 10px 10px 0px !important;
    }
     .our-mission,.Our-values {
         padding-bottom: 0px;
    }
     .bg-banner {
         width: 100%;
         height: 280px;
         background: url(../images/bg.jpg);
    }
     .footer-img>img {
         width: 30%;
         display: none;
    }
     .footer-heading>h1 {
         margin-top: 30px;
    }
     .res-xs {
         display: block;
         position: relative;
         top: 20px;
    }
     .all-icon-block {
         float: none;
         padding: 0px 25%;
    }
     .book-a-demo>a {
         text-decoration: none;
         font-family: 'Open Sans';
         font-weight: 400;
         font-size: 14px;
         background: #ffa929;
         padding: 5px;
         position: relative;
         top: 12px;
         left: -66px;
         color: #fff;
         padding: 7px 19px;
         text-transform: capitalize;
    }
     .input_block_submit-button {
         width: 50%;
         border-radius: 30px;
         background: #2d3864;
         text-align: center;
         line-height: 50px;
         margin-left: 27%;
    }
     .All-Rights {
         margin-top: -30px;
         line-height: 47px;
         text-align: center;
    }
     .footer {
         width: 100%;
        /*background: url(../images/footer.jpg) no-repeat;
        */
         background-size: cover;
         padding-bottom: 24px;
    }
     .footer-heading>ul>li {
         float: left;
    }
     .admin-protal {
         height: 1120px;
         margin-top: 20px;
         padding: 0px;
    }
     .why-us-block {
         width: 100%;
         margin-bottom: 35px;
         transition: 1s;
         border: 1px solid #e9ecef;
         padding: 15px;
    }
     .company-vlalue-block>h1 ,.our-value-block {
         margin-top: 10px;
         font-size: 25px;
    }
     .company-vlalue-block>p {
         width: 100%;
         margin-bottom: 40px;
    }
     .our-value-block {
         margin-bottom: 20px;
    }
     .team-our-main-block>h1 {
         margin-top: 0px;
    }
     .meet-our-team {
         padding-bottom: 40px;
    }
     .company-contant>h1 {
         margin-top: 20px;
    }
     #demos {
         height: 1220px;
    }
     .header {
         height: 75px;
    }
     .owl-theme .owl-nav.disabled+.owl-dots {
         bottom:35px !important;
         position: relative;
         bottom: 115px;
         left: 0px;
         width: 100%;
    }
     .logo-back {
         width: 50px !important;
         height: 30px !important;
         border-radius: 55px;
         background: #fff;
         position: absolute;
         left: -7px;
    }
     .logo-back>a>img {
         margin-top: -15px;
         width: 100%;
    }
    
     .product-account-main {
         margin-bottom: 20px;
         margin-top: 20px;
    }
     .Download-Brochure {
         margin-left: 10%;
    }
     #demos2 {
         margin-top: 20px;
    }
     .inner-banner {
         height: 100px;
    }
     .Product-heading>h1 {
         font-size: 20px;
         margin-top:30px;
         text-align: center;
    }
     .Product-contant {
         text-align: center;
    }
     .about-contant>h1 ,.Features-contant>h1 , .School-Fees>h1{
         font-size: 18px;
         margin-top: 30px;
    }
     .about-contant>p,.Features-contant>p,.School-Fees>p {
         width: 100%;
         text-align: justify;
         font-size: 14px;
    }
     .featur--Portal-contant>img {
         height: auto;
    }
     .feature-main-block {
         padding-top: 0px;
    }
     .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 0px;
    }
     .featur-protal {
         margin-top: 30px;
         padding-bottom: 0px;
    }
     .feature-main-xs {
         margin-top: 0px;
    }
     .School-Fees {
         margin-bottom: 20px;
    }
    /*end product*/
    /*contact page code*/
     .map {
         height: 360px;
         margin-top: 20px;
    }
     .contact_right {
         width: 100%;
         float: left;
         padding: 10px 10px 10px 24px ;
    }
     .input_block_submit-block {
         margin-bottom: 30px;
    }
     .form-fluid {
         bottom: 200px;
    }
     .testimonail_row_bottom {
         margin-bottom: 5px;
    }
     .input_block_submit-block {
         width: 288px;
         padding: 5px 0 5px 0px;
    }
     .contact_right .help-block {
         margin-left: 0px;
         margin-bottom: -14px;
    }
    /*end*/
    /*company page code start*/
     .company-contant>h1 {
         margin-top: 20px;
         font-size: 25px;
         text-align:center;
    }
     .team-img {
         margin-top: 20px;
         margin-left: 0px;
    }
     .company-main-block>h1 {
         font-size: 25px;
         margin-top: 20px;
    }
     .company-list-contant {
         margin-top: 15px;
         margin-bottom: 15px;
    }
     .company-list-contant>li {
         font-size: 14px;
    }
     .team-png {
         margin-top: 30px;
         margin-bottom: 20px;
    }
    /*end*/
    /*bacome page code start*/
     .input-box {
         border:none;
         width:76%;
         font-size:13px;
         margin-left: 10px;
    }
     .submit-partner {
         float: none;
         margin-left:70px;
         margin-top: 50px;
    }
     .submit-partner:hover {
         float: none;
         margin-left:70px;
         margin-top: 50px;
    }
    /*end*/
}

@media (min-width:768px) and (max-width:1024px) {
    /*index page code*/
     .footer-heading-last ul li p{
         padding-right: 0px;
    }
     .navbar {
         margin-left: 0px;
    }
     .nav>li>a {
         text-align: center;
         color: #2c3e50;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 400;
         line-height: 54px;
         padding-left: 15px;
         padding-right: 15px;
         text-transform: capitalize;
    }
     .nav>li:last-child a>span {
         text-align: center;
         color: #ffffff;
         background: #f8a31b;
         padding: 10px 18px;
         border-radius: 5px;
         font-size: 15px;
         font-family: 'Poppins';
         font-weight: 400;
    }
     .Management {
         font-size: 37px;
    }
     .list-contant>li>span {
         width: 17px;
         height: 31px;
         float: left;
    }
     .list-contant>li {
         font-family: 'Poppins';
         font-weight: 400;
         color: #fff;
         font-size: 18px;
         float: left;
         text-transform: capitalize;
    }
     .iphone-img {
         margin-top: 125px;
         width: 90%;
    }
     .Awesome-Features>h1 {
         margin-top: 110px;
    }
     .Awesome-Features>p {
         width: 85%;
    }
     .school-main-block {
         padding-top: 56px;
    }
     .singleiphone img {
         margin: auto;
         width: 90%;
         margin-top:100px;
    }
     .contant-block {
         width: 100%;
         margin-top: 10px;
    }
     .contant-block-tab {
         width: 69%;
    }
     .contant-block-tab>h1,.contant-block-tab>p {
         text-align: left !important;
    }
     .contant-block>h1 ,.contant-block>p{
         font-size: 12px;
         text-align: center;
    }
     .img-block {
         margin: auto;
         margin-left: 80px;
    }
     .Admin-Portal-img>img {
         position: relative;
         top: 40px;
         width: 100%;
    }
     .admin-protal {
         margin-top: 0px;
         margin-bottom: -60px;
         height: 540px;
    }
     #demos {
         height: 505px;
         overflow: hidden;
    }
     .i-phone {
         width: 370px !important;
         position: relative;
         height: 507px;
         top: 62px;
         left: 6%;
    }
     .Admin-Portal-contant>h1 {
         margin-top: 60px;
         font-size: 30px;
    }
     .Admin-Portal-contant>b {
         font-size: 16px;
    }
     .Admin-Portal-contant>p {
         font-size: 15px;
         line-height: 25px;
    }
     .owl-theme .owl-nav.disabled+.owl-dots {
         margin-top: 0px;
         position: relative;
         bottom: 115px;
         left: 180px;
         width: 30%;
    }
     .Admin-Portal-contant>p:nth-child(4) {
         font-size: 15px;
    }
     .image2 {
         right:0px;
         width: 86%;
         position: relative;
         right: 60px;
    }
     .image3 {
         position: absolute;
         top: 195px;
         bottom: 0px;
         width: 30%;
         right: 0px;
    }
     .image1 {
         position: absolute;
         top: 222px;
         z-index: 999;
         width: 15%;
         left: 0px;
    }
     .image3 {
         width: 25%;
    }
     .bg-banner {
         height: 590px;
    }
     .footer-img>a>img {
         margin-top: 50px;
         width: 80%;
         margin-left: 20px;
    }
     .tab-res {
         margin:0px;
         padding:0px;
    }
     .footer-heading>ul>li {
         font-size: 11px;
    }
     .footer-heading>ul>li>a {
         font-size: 12px;
    }
     .All-Rights {
         padding-left: 30px;
        /*margin-top: 28px;
        */
    }
     .all-icon-block {
        /*margin-top: 30px;
        */
         float: right;
         margin-right: 10px;
    }
     .footer-heading>ul>li {
         float: left;
         color: #ffffff;
         text-transform: capitalize;
    }
    /*end*/
    /*product page code */
     .img-product-block img {
         margin: auto;
         width: 50%;
    }
     .img-product-block {
         width: 60px;
         height: 60px;
         border-radius: 30px;
         box-shadow: 0px 0px 10px 0px #e9ecef;
    }
     .Download-Brochure {
         margin-left: 35%;
    }
    /*end product*/
    /*contact page code*/
     .contact_left_block {
         padding-left: 15px;
         padding-right: 12px;
    }
     .form-fluid {
         padding-left: 9px;
    }
    /*end contact*/
    /*why us page*/
     .company-vlalue-block>h1 {
         margin-top: 20px;
    }
     .why-value-block {
         min-height: 330px;
    }
     .whybg-banner {
         height: 550px;
    }
     .modal-content {
         width: 60%;
    }
    /*partner page code */
     .input-box {
         width: 82%;
         font-size: 12px;
    }
     .team-partner-img {
         margin: auto;
         margin-top: 149px;
    }
}
/*why us*/

