/*index page code start*/
a:focus, a:hover{
  text-decoration: none !important;
}
.padding_zero
{
  padding: 0px;
}
.padding_left
{
  padding-left: 0px;
}

.padding_right
{
  padding-right:  0px;
}
.header
{
  height: 84px;
}
/*fixed header code*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#myHeader
{
  background:#fff;
  z-index: 9999;
  box-shadow: 0px 0px 13px 0px #787878; 
}



/*end*/
.logo
{
   text-align: center;
   margin-left: 5px;

}
.logo-back
{
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background:#fff;
  position: absolute;
  top: 15px;
  padding-bottom: 10px;
}
.fixed_logo
{
  width: 80px;
  height: 80px;
  border-radius: 55px;
  background:#fff;
  padding-bottom: 10px; 
}
.logo-back>a>img
{
  margin-top: -5px;
}
.navbar
{
  margin-bottom: 0px !important;
  margin-left: 40px;
}
.nav>li>a
{
  text-align: center;
  color: #2c3e50;
  font-size:15px;
  font-family: 'Poppins';
    font-weight:400;
    /*line-height: 54px;*/
    line-height: 51px;
    padding-left: 23px;
    padding-right: 24px;
    text-transform: capitalize;
    position: relative;
}
.nav>li:last-child a
{
  text-align: center;
  line-height: 54px;;
    padding-left: 18px;
    padding-right: 18px;
    text-transform: capitalize;

}
.nav>li:last-child a>span
{
  text-align: center;
  color: #ffffff;
  background:#f8a31b; 
  padding:10px 20px;
  border-radius: 5px;
  font-size:15px;
  font-family: 'Poppins';
    font-weight:400;
    text-transform: initial;
}
.nav>li:last-child a>span:hover{
  border: 1px #f8a31b solid;
  color: #f8a31b;
  background-color: #fff;  
}
.nav>li>a:hover
{
    opacity: 0.9;
    border-bottom: 3px solid #f8a31b; 
    line-height: 51px;
    font-family: 'Poppins';
    font-weight:400;
}
.nav>li.active:hover
{
  opacity: 0.9;
    border-bottom: 0px solid #f8a31b; 
    /*line-height: 51px;*/
    font-family: 'Poppins';
    font-weight:400;
}
.nav>li:last-child:hover a
{
background: none;
border-bottom: none;  
line-height: 54px;  
}
.banner
{
  width: 100%;
  height: 637px;
  background:url('../images/bannernsecond.jpg') center center no-repeat;
  margin-top: -1px;
}
.Professional-contant
{
    font-family: 'Poppins';  
    font-weight:500;
    color: #f8a31b;
    font-size: 30px;
    margin-top: 123px;
}
.Management
{
  font-family: 'Poppins';
    font-weight:600;
    color: #fff;
    font-size:60px;
    text-transform: capitalize;
    margin-top: -12px;
}
.list-contant
{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  margin-top: 30px;

}
.list-contant>li
{
  font-family: 'Poppins';
    font-weight:400;
    color: #fff;
    font-size:18px;
    margin-left: 6px;
    margin-top: 9px;
    text-transform: capitalize;
}
.list-contant>li>span
{
  width: 17px;
  height: 14px;
  float: left;
  margin-top: 5px;
  margin-right: 12px;
    background:url('../images/right-icon.png')no-repeat;
}
.iphone-img
{
  margin-top: 125px;
}
 .Awesome-Features>h1
 {
  font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 72px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
 }
 .Awesome-Features>p
 {
  font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:16px;
     width: 70%;
     margin-top: 10px;
     margin:auto;
    text-align: center;
    text-transform: capitalize;
    line-height: 28px;
 }
 .school-main-block
 {
  padding-top: 100px;
 }
.School-account-main
{
  width: 100%;
  margin-bottom: 40px;
}
.product-account-main
{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.product-account-main1
{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
}
.singleiphone
{
  margin-top: 60px;
}
.singleiphone img
{
  margin:auto;
  /*width:300px;*/
  height: 540px;
}
.img-block
{
  width: 80px;
  height: 80px;
  float: left;
  border-radius:50%;
  text-align: center;
  box-shadow:  0px 5px 23px 4px #e9ecef;
  /*box-shadow: 0px 8px 20px 0px #e9ecef;*/
 
  margin-right: 15px;
  padding-top: 15px;
  transition: .5s;
}
.img-block img
{
  margin:auto;
  transition: 1s;

}
.img-block:hover
{
    /*transform: scale(1.1);*/
    transform:          rotate(360deg);
    -ms-transform:      rotate(360deg);
    -moz-transform:     rotate(360deg);
    -webkit-transform:  rotate(360deg);
    -o-transform:       rotate(360deg);
    /*box-shadow: 0px 0px 20px 10px #e9ecef;*/
}



.img-product:hover
{
    /*transform: scale(1.1);*/
    transform:          rotate(360deg);
    -ms-transform:      rotate(360deg);
    -moz-transform:     rotate(360deg);
    -webkit-transform:  rotate(360deg);
    -o-transform:       rotate(360deg);
    /*box-shadow: 0px 0px 20px 10px #e9ecef;*/
}
.clear
{
  clear: both;
}
.contant-block
{
  float: left;
  width: 75%;
}
.contant-block>h1
{
  font-family: 'Poppins';
  font-weight:500;
  font-size: 16px;
  color: #2c3e50;
  margin-top: 7px;

}

.contant-block>p
{
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight:400;
   font-size: 15px;
  /*text-align: justify;*/
  word-spacing: 2px;
  color: #787878;
}
.admin-protal
{
  background: #f7f9fb;
  margin-top: 75px;
  overflow: hidden;
  height: 570px;
}
.Admin-Portal-contant>h1
{
     font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 85px;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-align: left;
}
.Admin-Portal-contant>h2
{
     font-family: 'Poppins';
    font-weight:500;
    color: #2c3e50;
    font-size:20px;
    text-transform: capitalize;
    text-align: left;
}
.Admin-Portal-contant>p
{
  font-family: 'Open Sans';
  font-weight:400;
  font-size: 16px;
   margin-top: 10px;
  text-align: justify;
  color: #787878;
  line-height: 30px;
  width: 90%;

}
.Admin-Portal-contant>p:nth-child(4)
{
  font-family: 'Open Sans';
  font-weight:400;
  font-size: 16px;
  /*margin-top: 40px;*/
  text-align: justify;
  color: #787878;
  width: 90%;
}
.read_more
{
  width: 130PX;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background:#f8a31b; 
  padding:10px 20px;
  border-radius: 5px;
  font-size:15px;
  font-family: 'Poppins';
    font-weight:500;
    margin-top: 35px;
    line-height: 20px;
    margin-bottom: 66px;
  }
.read_more:hover
{
  border:1px solid #f8a31b;
  background:none;
  color: #f8a31b;
}

  .read_more a
  {
    text-decoration: none;  
    color: #ffffff;
    text-transform: uppercase;
  }
  .read_more:hover a
  {
    text-decoration: none;  
    color: #f8a31b;
    text-transform: uppercase;
  }
  .Admin-Portal-img
  {
    /*width: 90%;*/
    background:url('../images/cricle2.png') no-repeat;
    background-size: cover;
    height: 570px;
    background-position: 0px -130px;
  }
  .item
  {
    height: 570 !important;
  }
  .i-phone
  {
   width: 387px !important;
    position: relative;
    /* height: 543px; */
    top: 52px;
    left: 18.5%;
  }  
  .why-us-main
  {
    margin-top: 55px;
  }
  .why-us-block
  {
    width: 100%;
    margin-bottom: 50px;
    transition:1s; 
    padding-left: 15px;
    padding-right: 15px;
    min-height: 285px !important;
    max-height: 0px;
    border: 0px red solid;
  }

  .why-us-block>a>img
  {
   height: 70px;
  }
  
  .imge
  {
    transition: 1s;
    height: 70px !important;
    overflow: hidden;
  }
  .imge:hover img
  {
    transform: scale(1.1);
/*     transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);*/
    /*box-shadow: 0px 0px 20px 10px #e9ecef;*/
  }


  .why-us-block>p
  {
   font-size: 18px;
  font-family: 'Open Sans';
  font-weight:400;
  font-size: 15px;
  line-height: 27px;
  text-align: justify;
  color: #787878;
  }
  .why-us-block h1
  {
   font-size: 18px;
  font-family: 'Poppins';
  font-weight:500;
  font-size: 20px;
   margin-top: 18px ;
    margin-bottom:  10px;
  text-align: justify;
  color: #2c3e50;
  }
  .why-us-block>h1>a
  {
   font-size: 18px;
  font-family: 'Poppins';
  font-weight:500;
  font-size: 20px;
  text-align: justify;
  color: #2c3e50;
  }
  .why-us-block>h1>a:hover
  {
   text-decoration:none; 
  }
  .why-us-block>h1>a:focus{
    text-decoration: none;
    outline: none;
  }
  .why-us-block>h1>a:active{.nav>li:last-child a,.nav>li>a{text-transform:capitalize;text-align:center}.nav>li.active:hover,.nav>li:last-child a>span,.nav>li>a,.nav>li>a:hover{font-weight:400;font-family:Poppins}.Awesome-Features>h1,.Awesome-Features>p,.img-block,.logo,.nav>li:last-child a,.nav>li>a{text-align:center}#demos,.Our-values,.admin-protal,.featur-protal,.imge,.meet-our-team,.our-mission{overflow:hidden}a:focus,a:hover{text-decoration:none!important}.list-contant,.read_more a,.read_more:hover a,.why-us-block>h1>a:active,.why-us-block>h1>a:hover{text-decoration:none}.padding_zero{padding:0}.fixed_logo,.logo-back{border-radius:55px;background:#fff;padding-bottom:10px}.padding_left{padding-left:0}.padding_right{padding-right:0}.header{height:84px}.sticky{position:fixed;top:0;width:100%}#myHeader{background:#fff;z-index:9999;box-shadow:0 0 13px 0 #787878}.img-block,.img-product{box-shadow:0 5px 23px 4px #e9ecef}.logo{margin-left:5px}.logo-back{width:110px;height:110px;position:absolute;top:15px}.fixed_logo{width:80px;height:80px}.logo-back>a>img{margin-top:-5px}.navbar{margin-bottom:0!important;margin-left:40px}.nav>li>a{color:#2c3e50;font-size:15px;line-height:51px;padding-left:23px;padding-right:24px;position:relative}.nav>li:last-child a{line-height:54px;padding-left:18px;padding-right:18px}.nav>li:last-child a>span{text-align:center;color:#fff;background:#f8a31b;padding:10px 20px;border-radius:5px;font-size:15px;text-transform:initial}.nav>li:last-child a>span:hover{border:1px solid #f8a31b;color:#f8a31b;background-color:#fff}.nav>li>a:hover{opacity:.9;border-bottom:3px solid #f8a31b;line-height:51px}.nav>li.active:hover{opacity:.9;border-bottom:0 solid #f8a31b}.nav>li:last-child:hover a{background:0 0;border-bottom:none;line-height:54px}.banner{width:100%;height:637px;background:url(../images/banner3.jpg) center center no-repeat;margin-top:-1px}.Professional-contant{font-family:Poppins;font-weight:500;color:#f8a31b;font-size:30px;margin-top:123px}.Management,.list-contant>li{color:#fff;font-family:Poppins;text-transform:capitalize}.Management{font-weight:600;font-size:60px;margin-top:-12px}.list-contant{margin:30px 0 0;padding:0}.list-contant>li{font-weight:400;font-size:18px;margin-left:6px;margin-top:9px}.list-contant>li>span{width:17px;height:14px;float:left;margin-top:5px;margin-right:12px;background:url(../images/right-icon.png) no-repeat}.iphone-img{margin-top:125px}.Awesome-Features>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:72px;margin-bottom:20px;text-transform:capitalize}.Awesome-Features>p{font-family:'Open Sans';font-weight:400;color:#787878;font-size:16px;width:70%;margin:auto;text-transform:capitalize;line-height:28px}.School-account-main,.product-account-main,.product-account-main1{width:100%;margin-bottom:40px}.school-main-block{padding-top:100px}.product-account-main{margin-top:30px}.product-account-main1{margin-top:50px}.singleiphone{margin-top:60px}.singleiphone img{margin:auto;height:540px}.img-block{width:80px;height:80px;float:left;border-radius:50%;margin-right:15px;padding-top:15px;transition:.5s}.img-block img{margin:auto;transition:1s}.img-block:hover,.img-product:hover{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}.clear{clear:both}.contant-block{float:left;width:75%}.contant-block>h1{font-family:Poppins;font-weight:500;font-size:16px;color:#2c3e50;margin-top:7px}.contant-block>p{font-family:'Open Sans';font-weight:400;font-size:15px;word-spacing:2px;color:#787878}.Admin-Portal-contant>h1,.Admin-Portal-contant>h2{font-family:Poppins;color:#2c3e50;text-transform:capitalize;text-align:left}.admin-protal{background:#f7f9fb;margin-top:75px;height:570px}.Admin-Portal-contant>h1{font-weight:600;font-size:35px;margin-top:85px;margin-bottom:30px}.Admin-Portal-contant>h2{font-weight:500;font-size:20px}.Admin-Portal-contant>p,.Admin-Portal-contant>p:nth-child(4){font-family:'Open Sans';font-weight:400;font-size:16px;color:#787878;width:90%}.Admin-Portal-contant>p{margin-top:10px;text-align:justify;line-height:30px}.Admin-Portal-contant>p:nth-child(4){text-align:justify}.read_more{width:130PX;height:40px;text-align:center;background:#f8a31b;padding:10px 20px;border-radius:5px;font-size:15px;font-family:Poppins;font-weight:500;margin-top:35px;line-height:20px;margin-bottom:66px}.read_more:hover{border:1px solid #f8a31b;background:0 0;color:#f8a31b}.read_more a{color:#fff;text-transform:uppercase}.read_more:hover a{color:#f8a31b;text-transform:uppercase}.Admin-Portal-img{background:url(../images/cricle2.png) 0 -130px no-repeat;background-size:cover;height:570px}.item{height:570!important}.i-phone{width:387px!important;position:relative;top:52px;left:18.5%}.why-us-main{margin-top:55px}.why-us-block{width:100%;margin-bottom:50px;transition:1s;padding-left:15px;padding-right:15px;min-height:285px!important;max-height:0;border:0 solid red}.why-us-block>a>img{height:70px}.imge{transition:1s;height:70px!important}.imge:hover img{transform:scale(1.1)}.why-us-block>p{font-family:'Open Sans';font-weight:400;font-size:15px;line-height:27px;text-align:justify;color:#787878}.why-us-block h1,.why-us-block>h1>a{font-weight:500;font-size:20px;text-align:justify;color:#2c3e50;font-family:Poppins}.why-us-block h1{margin-top:18px;margin-bottom:10px}.why-us-block>h1>a:focus{text-decoration:none;outline:0}.bg-banner{width:100%;height:820px;background:url(../images/bg2.jpg) center center;background-size:cover}.image1{position:absolute;top:280px;z-index:9;left:-13px}.image2{position:relative;top:100px;right:60px;float:right}.image11,.image3{position:absolute}.image3{top:230px;bottom:0;right:-76px}.image11{top:280px;z-index:9;left:21px}.image22{position:relative;top:100px;right:60px;float:right}.image33{position:absolute;top:230px;bottom:0;right:-21px}.footer-img>img{margin-top:50px}.res-xs{display:none}.res-xs>a{color:#fff;text-decoration:underline}.footer{width:100%;background-color:#1f2f62;padding-bottom:50px}.footer-md-block,.footer-md2-block,.footer-md3-block,.footer-md4-block{width:25%;float:left}.footer-heading>h1{font-family:Poppins;font-weight:600;font-size:18px;margin-top:50px;margin-bottom:17px;color:#f8a31b;text-transform:uppercase}.footer-heading>i{font-size:20px}.footer-heading>ul{margin:0;padding:0;text-decoration-style:none}.footer-img>a>img{margin-top:55px}.footer-heading>ul>li>,.footer-heading>ul>li>a{font-size:14px;font-family:Poppins;font-weight:500;float:left;margin-top:12px;width:100%;color:#fff}.footer-heading>ul>li>a:hover{text-decoration:none}.footer-heading ul li a i{padding-right:5px!important}.footer-heading-other ul li{width:100%;padding-bottom:10px}.footer-heading-other ul li i{width:5%;float:left;padding-top:2px;color:#fff}.footer-heading-other ul li p{width:90%;float:left;margin-bottom:0;color:#fff}.footer-heading-other ul li p:hover{color:#f8a31b;transition:.5s;cursor:pointer}.Download-Brochure{width:198px;font-size:15px;font-family:Poppins;font-weight:500;font-style:normal;margin-top:30px;margin-left:40%;color:#fff;padding:13px 0;border-radius:5px;background:#f8a31b;border:1px solid #f8a31b;text-align:center}.Download-Brochure a{color:#fff;padding:14px}.Download-Brochure:hover{border-radius:5px;background:0 0;color:#f8a31b;border:1px solid #f8a31b;padding:13px 0}.Download-Brochure a:hover{color:#f8a31b}.All-Rights{font-size:14px;font-family:'Open Sans';font-weight:400;line-height:50px;color:#fff;text-transform:capitalize}.Product-contant,.Product-heading>h1{font-family:Poppins;font-weight:500}.all-icon-block{margin-top:7px;float:right}.icon-block,.img-product{float:left;transition:1s}.icon-block{width:38px;height:38px;border-radius:20Px;background:#fff;font-size:20px;margin-left:10px;color:#1f2f61;text-align:center;line-height:40px}.icon-block a{padding:7px;color:#1f2f61}.about-contant>h1,.about-contant>p{text-transform:capitalize;padding-top:20px;text-align:center}.icon-block a:hover{color:#f8a31b}.icon-block:hover{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}#demos{height:570px}#demos2>.owl-theme .owl-nav.disabled+.owl-dots{margin-top:0;position:relative;left:200px!important;bottom:-5px}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:0;position:relative;bottom:115px;left:270px;width:30%}.inner-banner{width:100%;height:325px;background:url(../images/product-page.jpg) center center no-repeat;margin-top:-1px}.Product-heading>h1{color:#fff;font-size:40px;margin-top:120px}.Product-contant{color:#f8a31b;font-size:15px}.Product-contant>span>a,.Product-contant>span>a:hover{font-weight:400;font-size:15px;font-family:Poppins}.Product-contant>span>a{color:#fff}.Product-contant>span>a:hover{text-decoration:none;color:#f8a31b}.about-contant>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:20px}.about-contant>p{font-family:'Open Sans';font-weight:400;color:#787878;font-size:16px;margin:auto;line-height:1.875;font-style:normal}.Features-contant>p,.School-Fees>p{line-height:28px;text-transform:capitalize}.feature-main-block{padding-top:45px}.img-product{width:79px;height:79px;border-radius:100%;text-align:center;margin-right:15px;padding:10px 0 0 4px;background:#fff}.img-product img{margin:auto;width:47px;height:48px}.img-product-three,.img-product-two{width:79px;height:79px;border-radius:100%;box-shadow:0 5px 23px 4px #e9ecef;background:#fff;transition:1s;text-align:center;float:left}.img-product-two{margin-right:15px;padding:15px 10px 0 4px}.img-product-two img{margin:auto}.img-product-three{margin-right:15px;padding:9px 0 0 4px}.img-product-three img{margin:auto}.featur-protal{background:#f7f9fb;margin-top:55px;padding-bottom:30px}.featur--Portal-contant>img{height:540px}.School-Fees{margin-bottom:70px}.School-Fees>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:50px;text-align:center;text-transform:capitalize}.School-Fees>p{font-family:'Open Sans';font-weight:400;color:#787878;font-size:16px;width:70%;margin:auto;text-align:center}.School-Fees-main{margin-top:0;margin-bottom:40px}.Features-contant>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:50px;text-align:center;text-transform:capitalize}.Features-contant>p{font-family:'Open Sans';font-weight:400;color:#787878;font-size:16px;width:90%;margin:auto;text-align:center}.map{width:100%;height:494px;background-size:cover;margin-top:50px}.form-fluid{position:relative;bottom:300px;height:400px;margin-bottom:-100px!important}.testimonail_row_bottom{margin-bottom:40px}.contact_form{background:#fff;width:100%;border-radius:5px;margin-top:10px;box-shadow:2px 4px 25px 3px #eaeaea}.contact_left{width:40%;float:left}.contact_left_block{width:100%;background:linear-gradient(to top,#2c3a65 ,#2c3a65);padding-left:30px;padding-right:30px;border-top-left-radius:10px;border-bottom-left-radius:10px;padding-bottom:60px}.input,.subject{border:1px solid #eee}.contact_left_block>ul{margin:0;padding:0;list-style-type:none}.contact_left_block>ul>li:nth-child(1){color:#fff;font-weight:600;font-family:Poppins;font-size:20px;margin-top:50px;text-transform:capitalize}.contact_left_block>ul li{font-weight:400;font-family:Poppins;color:#fff;font-size:14px;margin-top:30px}.contant_head_contant,.follow2{font-size:25px;font-weight:600;font-family:Poppins}.contact_left_block>ul li:hover{color:#f8a31b;transition:.5s;cursor:pointer}.follow2{color:#fff;margin-top:53px;text-transform:capitalize}.icon_ALL{margin-top:10px;margin-left:-10px}.contact_right{width:60%;float:left;padding:20px 20px 0}.contant_head_contant{color:#353c56;margin-top:10px}.input_block,.input_block_subject2{width:100%;margin-top:20px}.input{width:90%;padding:10px 10px 10px 20px}.contact_right .help-block{margin-left:20px;margin-bottom:-15px}#model-user .help-block{padding-left:20px}.contact_right .form-group{margin-bottom:0!important}.input_block_left{width:50%;float:left}.address,.subject{width:95%;padding:10px 10px 10px 20px}.address,.input,.subject{border-radius:20px}.address{height:15%;border:1px solid #eee;resize:none}.input_block_submit-button{width:45%;border-radius:30px;background:#2d3864;text-align:center;line-height:50px;margin-left:30%;font-weight:600;font-family:Poppins;color:#fff;outline:0;border:1px solid #2d3864}.input_block_submit-button:hover{background-color:#fff;color:#2d3864;border:1px solid #2d3864;transition:.2s}.google{display:block;width:38px;height:38px;background:#fff;border-radius:50%;float:left;font-size:16px;margin-left:10px;cursor:pointer;transition:1s;padding:8px}.google:hover{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg)}.google>a{margin:auto;padding-left:10px;color:#2d3864}.google1 a:hover,.google2 a:hover,.google3 a:hover,.google4 a:hover,.google5 a:hover{color:#f8a31b}.google1>a{padding:7px},.google2>a,.google3>a,.google4>a,.google5>a{padding:5px}.trem-condition>h1{font-weight:500;font-family:Poppins;font-size:20px;color:#2c3e50}.trem-condition>hr{margin-top:0}.trem-condition>p{font-weight:400;font-family:Poppins;font-size:16px;color:#787878;text-align:justify;margin-bottom:10px}.company-contant>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:40px;text-align:left;text-transform:capitalize;line-height:44px}.company-contant>p,.company-contant>p:nth-child(3){font-family:'Open Sans';font-weight:400;font-size:16px;color:#787878}.company-contant>p{margin-top:23px!important;line-height:30px}.company-contant>p:nth-child(3){margin-bottom:15px;margin-top:25px;line-height:30px}.team-img{margin-top:40px;margin-left:15px}.vision3{margin:auto}.team-png{margin:50px auto auto}.company-main-block>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:40px;margin-bottom:20px;text-align:left;text-transform:capitalize}.circle-block,.circle-block>img,.company-vlalue-block>p,.our-value>h3{text-align:center}.company-main-block>p{font-family:'Open Sans';font-weight:400;font-size:16px;margin-top:10px;color:#787878;line-height:30px}.company-vlalue-block>h1{font-family:Poppins;font-weight:600;color:#2c3e50;font-size:35px;margin-top:40px;margin-bottom:20px;text-align:center;text-transform:capitalize}.company-list-contant>li,.company-vlalue-block>p{font-family:'Open Sans';font-size:16px}.company-vlalue-block>p{font-weight:400;color:#787878;width:80%;margin:auto}.company-list-contant>li,.our-value>h3{color:#2c3e50;text-transform:capitalize}.company-list-contant{margin:30px 0 15px;padding:0;text-decoration:none}.company-list-contant>li{font-weight:600;margin-left:6px;margin-top:9px}.company-list-contant>li>span{width:17px;height:14px;float:left;margin-top:5px;margin-right:12px;background:url(../images/right-icon.png) no-repeat}.our-mission{margin-top:20px}.our-value-block{width:100% border:1px solid #787887;margin-top:50px;margin-bottom:15px}.circle-block{width:130px;height:130px;border-radius:65px;box-shadow:0 0 15px 10px #f3f5f8;margin:auto;padding-top:28px;padding-left:30px}.Our-values{background:#f7f9fb;margin-top:10px;padding-bottom:30px}.our-value>h3{font-family:Poppins;font-weight:500;font-size:20px;margin-top:30px}.our-value>p{font-family:'Open Sans';font-weight:400;color:#787878;font-size:15px;margin-top:10px;text-align:center;line-height:25px}.our-team>h3,.team-our-main-block>h1{color:#2c3e50;text-align:center;text-transform:capitalize;font-family:Poppins}.team-our-main-block>h1{font-weight:600;font-size:35px;margin-top:37px}.meet-our-team{padding-bottom:80px}.our-team-block{margin-top:40px}.our-team{border:1px solid #eee;border-radius:5px;box-shadow:0 0 10px 0 #eee;padding:20px}.quality-img{padding-top:8px;padding-left:5px}.circle-block-team{width:130px;height:130px;border-radius:65px;background:#ccd5de;margin:20px auto auto;padding-top:5px;text-align:center}.circle-block-team>img{width:120px;height:120px;border-radius:60px;margin:auto}.our-team>h3{font-weight:500;font-size:20px;margin-top:30px}.model-header>p,.new-school,.our-team>p{font-weight:400}.our-team>p{font-family:'Open Sans';color:#787878;font-size:15px;margin-top:20px;text-align:center;line-height:25px;margin-bottom:20px;text-transform:capitalize}.modal{display:none;position:fixed;z-index:10;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#000;background-color:rgba(0,0,0,.4)}.Student,.school-staff,.ssl{position:relative}.modal-content{background-color:#fefefe;margin:auto;border:2px solid #1f2f61;width:30%;z-index:99999}.owl-carousel{z-index:0!important}.model-header{background:#1f2f61;padding:20px 23px 8px 35px}.model-header>p{font-family:Poppins;font-size:20px;line-height:20px;text-align:center;color:#fff;text-transform:capitalize;padding-left:19px}.new-school,.new-school-contant{color:#fff;font-size:13px;text-align:center;font-family:Poppins;text-transform:capitalize}.new-school-contant{font-weight:300;width:73%;margin:5px auto auto}.close{color:#fff!important;float:right;font-size:28px;font-weight:700}.Submit-btn{padding:5px 20px;border:1px solid #f8a31b;border-radius:5px;background:#f8a31b;outline:0;font-family:Poppins;font-weight:500;font-size:16px;color:#fff;margin-top:22px;margin-left:6px}.form-book>p,.form-book>p>span{font-family:Poppins;font-size:13px;font-weight:400;text-align:center}.Submit-btn:hover{padding:5px 20px;background:#fff;color:#f8a31b;border-radius:5px}.close:focus,.close:hover{color:#fff;text-decoration:none;cursor:pointer}.form-book{padding:20px}.form-book>p{color:#787878;text-transform:capitalize}.form-book>p>span{color:#f8a31b;text-transform:capitalize}.form-became-partner>h2,.why-us-page>h1{font-family:Poppins;color:#2c3e50;text-transform:capitalize}.why-us-page{background:#fff;margin-top:10px;overflow:hidden;padding-bottom:0}.why-us-page>h1{font-weight:500;font-size:20px;margin-top:30px;text-align:center}.Affordable{padding:5px 10px 10px 5px}.Web-base{padding:10px 0}.Access{padding:3px 10px 10px}.ssl{padding:0;right:8px}.data-backup{padding:10px 10px 10px 3px}.school-staff{padding:5px 0 0;right:5px}.Parents{padding:10px 10px 10px 3px}.Student{padding:0 0 0 6px;bottom:10px}.ppu{padding:17px 0 0!important}.Various{padding:20px 29px 0 0}.why-value-block{width:100% border:1px solid #787887;margin-top:40px;margin-bottom:15px}.whybg-banner{width:100%;height:770px;background:url(../images/bg.jpg) center center;background-size:cover}.team-partner-img{margin:100px auto auto}.form-became-partner-block{margin-top:50px;margin-bottom:60px}.form-became-partner{width:100%;box-shadow:0 0 30px 5px #f3f5f5;padding-bottom:40px}.input-block{width:80%;margin:30px auto auto;border-bottom:1px solid #ccc}.form-became-partner>h2{font-weight:600;font-size:25px;padding-top:20px;padding-left:30px}.owl-next,.owl-prev{text-transform:uppercase}.font-icon-block{float:left;margin-top:13px}.input-box{float:left;height:40px;border:none;width:89%;margin-left:20px;font-family:'Open Sans';font-weight:400;color:#2c3e50!important;font-size:15px;box-shadow:none}.submit-partner,.submit-partner:hover{float:right;font-size:16px;font-family:Poppins;font-weight:400}.input-box::placeholder{color:#2c3e50}.company-icon,.phone-icon{margin-top:-4px}.submit-partner{width:200px;border:1px solid #f8a31b;border-radius:5px;color:#fff;background:#f8a31b;margin-right:10%;padding:10px;margin-top:40px}.submit-partner:hover{border:1px solid #f8a31b;border-radius:5px;color:#f8a31b;background:0 0}.last-footer{background-color:#192652;padding:10px 0}.footer-heading-last ul li i{float:left;width:5%;padding-top:3px}.footer-heading-last ul li p{width:95%;float:left;padding-right:36px;padding-left:20px}.footer-heading-last ul li a{margin-top:9px!important}button:focus,input:focus,select:focus,textarea:focus{outline:0}#model-user .form-control{border-radius:20px;padding:20px 10px 20px 20px!important;border:1px solid #eee;resize:none;width:100%;box-shadow:none}#model-user .form-control2{padding:10px!important}#model-user textarea.form-control{resize:none!important;padding-left:19px!important}.owl-carousel,.owl-carousel .owl-item{position:static!important}.input-box:focus{outline:0!important;border:0!important;-webkit-box-shadow:inset 0!important;box-shadow:inset 0!important}.has-error .form-control,.has-success .form-control{box-shadow:inset 0 1px 1px transparent!important}.management-tool-content{float:left;width:92%}.Rectangle_2_copy_2{border-radius:5px;background-color:#f8a31b;position:absolute;left:901px;top:746px;width:198px;height:51px;z-index:18}.companyname{padding-left:6px}.spaadderss2 i{padding-left:5px}.navbar-menu li{position:static}.navbar-menu li ul{padding-left:0;list-style:none}.productsub-menu{position:absolute;width:100%;border:0 solid red;background-color:#fff;padding:11px 15px!important;top:84px;box-shadow:0 6px 12px rgba(0,0,0,.175);border:0 solid rgba(0,0,0,.15);z-index:9999;display:none}.productsub-menu li ul{list-style:none}.productsub-menu li ul li a{color:#2c3e50;font-size:13px;font-family:Poppins;font-weight:400;line-height:28px}.productsub-menu li ul li i{padding-right:10px}.productsub-menu li ul a:hover,.productsub-menu li ul li:hover{color:#f9ac32;transition:.2s}.product-menu:hover .productsub-menu{display:block!important;transition:.2s}.nav li a .current{background-color:#F5876E}.active-menu{opacity:.9;border-bottom:3px solid #f8a31b;font-family:Poppins;font-weight:400;background-color:#eee}.active-menu .nav>li>a:hover{border:0!important}.getintouch{padding-top:10px!important}#demos .owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#1f2f62!important}.contact_left_block ul li span i{width:6%;float:left;padding-top:4px}.owl-item{color:#fff;text-align:center}.owl-dot.active:before,.owl-dots:after{vertical-align:middle;font-size:20px;color:#192652}.owl-prev{float:left;font-size:20px}.owl-next{float:right;font-size:20px;padding:20px}.owl-dots{counter-reset:slides-num;position:absolute;top:220%;left:50%}.owl-dots:after{content:counter(slides-num);display:inline-block;font-weight:700;padding-left:18px;position:relative;left:18px;top:-5px}.owl-dot{display:inline-block;counter-increment:slides-num;margin-right:5px}.owl-dot span{display:none}.owl-dot.active:before{content:counter(slides-num) " / ";display:inline-block;position:absolute;right:103px;top:-3px}.info{text-align:center}#demos2 .owl-dot.active:before,#demos2 .owl-dots:after{display:none}.confiu-img{padding-top:10%}.img-product2{padding:16px 0 0!important}.img-product3{padding:15px 3 10px 0}.our-value p{min-height:280px!important;margin-bottom:20px!important;border:0 solid red!important;text-align:justify}.parent-portal-contant ul{padding-left:18px}.parent-portal-contant ul li{text-align:left;font-family:'Open Sans';font-weight:400;font-size:16px;margin-top:10px;color:#787878;line-height:30px;width:90%}.address-div{float:left;width:89%;padding-bottom:27px}.Access2{padding:3px 10px 10px 0}.ss2{right:0}
    text-decoration: none;
  }

  .bg-banner
  {
    width: 100%;
    height:820px;
    background:url('../images/bg2.jpg') center center;
    background-size: cover;
  }
  .image1
  {
    position: absolute;
    top: 280px;
    z-index: 9;
    left: -13px;
  }
  .image2
  {
     position: relative;
     top: 100px;
     right: 60px;
     float: right;
  }
  .image3
  {
    position: absolute;
    top: 230px;
    bottom: 0px;
    right: -76px;
  }
   .image11
  {
    position: absolute;
    top: 280px;
    z-index: 9;
    left: 21px;
  }
  .image22
  {
     position: relative;
     top: 100px;
     right: 60px;
     float: right;
  }
  .image33
  {
    position: absolute;
    top: 230px;
    bottom: 0px;
    right: -21px;
  }
  .footer-img>img
  {
    margin-top: 50px;
  }
  .res-xs
  {
    display: none;
  }
  .res-xs>a
  {
    color: #fff;
    text-decoration:underline;

  }
  .footer
  {
    width: 100%;
    /*background:url('../images/footer.jpg') no-repeat;*/
    /*background-size: cover;*/
    background-color: #1f2f62;
    padding-bottom: 50px;
  }
  .footer-md-block
  {
    width: 25%;
    float: left;
  }
  .footer-md2-block
  {
    width: 25%;
    float: left;
  }
  .footer-md3-block
  {
    width: 25%;
    float: left;
  }
  .footer-md4-block
  {
    width: 25%;
    float: left;
  }
  .footer-heading>h1
  {
    font-size: 18px;
  font-family: 'Poppins';
  font-weight:600;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 17px;
  color: #f8a31b;
  text-transform: uppercase;

  }
  .footer-heading>i
  {
    font-size: 20px;
  }
.footer-heading>ul
{
  margin: 0px;
  padding:0px;
  text-decoration-style: none;
}
.footer-img>a>img
{
margin-top: 55px;
}
.footer-heading>ul>li>{
  font-size: 14px;
  font-family: 'Poppins';
  /*font-weight:400;*/
  font-weight:500;
  float: left;
  margin-top: 12px;
  width: 100%;
  color: #ffffff;
  /*text-transform: capitalize;  */
}
.footer-heading>ul>li>a
{
  font-size: 14px;
  font-family: 'Poppins';
  /*font-weight:400;*/
  font-weight:500;
  float: left;
  margin-top: 12px;
  width: 100%;
  color: #ffffff;
  /*text-transform: capitalize;  */
}
.footer-heading>ul>li>a:hover
{
  text-decoration:none; 
}
.footer-heading  ul li a i{
  padding-right: 5px !important;
}
.footer-heading-other ul li{
 /* border: 1px red solid;*/
  width: 100%;
  padding-bottom: 10px;
}
.footer-heading-other ul li i{
  width: 5%;
  float: left;
  padding-top: 2px;
  /*border: 1px solid black;*/
}
.footer-heading-other ul li p{
  /*border: 1px yellow solid;*/
  width: 90%;
  float: left;
  margin-bottom: 0px;
  color: #fff;
}
.footer-heading-other ul li i{
  color: #fff;
}
.footer-heading-other ul li p:hover{
  color: #f8a31b;
  transition: 0.5s;
  cursor: pointer;
}
.Download-Brochure
{
      width: 198px;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-left: 40%;
    color: #fff;
    padding: 13px 0px;
    border-radius: 5px;
    background: #f8a31b;
    border: 1px solid #f8a31b;
    text-align: center;  
}
.Download-Brochure a{
    color: #fff;
    padding: 14px;
}
.Download-Brochure:hover
{

  border-radius: 5px;
  background:none;
  color: #f8a31b;
  border:1px solid #f8a31b; 
  padding: 13px 0px; 
}
.Download-Brochure a:hover{
  color: #f8a31b;
}

.All-Rights
{
  font-size: 14px;
   font-family: 'Open Sans';
  font-weight:400;
   line-height: 50px;
  color: #ffffff;
  /*margin-top: 30px;*/
  text-transform: capitalize;  
}
.all-icon-block
{
margin-top: 7px;
float: right;
}
.icon-block
{
  width:38px;
  height: 38px;
  border-radius: 20Px;
  background: white;
  float: left;
  font-size: 20px;
  margin-left: 10px;
  color: #1f2f61;
  text-align: center;
  line-height: 40px;
  transition: 1s;
  
}
.icon-block a 
{
  padding: 7px;
  color: #1f2f61;
  
}
.icon-block a:hover 
{
  
  color: #f8a31b;
  
}
.icon-block:hover 
{
    /* transform: scale(1.1); */
     transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    /*box-shadow: 0px 0px 20px 10px #e9ecef;*/

}
/*slider code*/

#demos
{
  height: 570px;
  overflow: hidden;
}
#demos2>.owl-theme .owl-nav.disabled+.owl-dots
{
  margin-top: 0px;
  position: relative;
  left: 200px !important;
  bottom:-5px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 0px;
    position: relative;
    bottom: 115px;
    left: 270px;
    width: 30%;
}
/*slider code end*/

/*end*/


/*product page code start*/
.inner-banner
{
  width: 100%;
  height: 325px;
  background:url('../images/product-page.jpg') center center no-repeat;
  margin-top: -1px;
}
.Product-heading>h1
{
   font-family: 'Poppins';  
    font-weight:500;
    color: #ffffff;
    font-size: 40px;
    margin-top: 120px;
}
.Product-contant
{
    font-family: 'Poppins';  
    font-weight:500;
    color: #f8a31b;
    font-size: 15px;
}
.Product-contant>span>a
{
    font-family: 'Poppins';  
    font-weight:400;
    color: #fff;
    font-size: 15px;
}
.Product-contant>span>a:hover
{
    font-family: 'Poppins';  
    font-weight:400;
    color: #fff;
    font-size: 15px;
    text-decoration:none; 
    color: #f8a31b;
}

.about-contant>h1
 {
  font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 25px;
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
 }
.about-contant>p
 {
  font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:16px;
     /*width: 90%;*/
     margin-top: 10px;
     margin:auto;
     text-align: center;
     text-transform: capitalize;
     line-height: 1.875;
     font-style: normal;
     padding-top: 20px;
 }
 .feature-main-block
 {
  padding-top: 45px;
 }
 .img-product
{
  width: 79px;
  height: 79px;
  float: left;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 5px 23px 4px #e9ecef;
  margin-right: 15px;
  padding: 10px 0px 0px 4px;
  background:#fff; 
  transition: 1s;
}
.img-product img
{
  margin:auto;
  width: 47px;
    height: 48px;
}
 .img-product-two
{
  width: 79px;
  height: 79px;
  float: left;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 5px 23px 4px #e9ecef;
  margin-right: 15px;
  padding: 15px 10px 0px 4px;
  background:#fff; 
  transition: 1s;
}
.img-product-two img
{
  margin:auto;
}
.img-product-three{
   width: 79px;
  height: 79px;
  float: left;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 5px 23px 4px #e9ecef;
  margin-right: 15px;
  padding:9px 0px 0px 4px;
  background:#fff; 
  transition: 1s;
}
.img-product-three img
{
  margin:auto;
}
.featur-protal
{
  background: #f7f9fb;
  margin-top: 55px;
  overflow: hidden;
  padding-bottom: 30px;
}
.featur--Portal-contant>img
{
    height: 540px;
}
.School-Fees
{
  margin-bottom: 70px;
}
.School-Fees>h1
 {
  font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
 }
 .School-Fees>p
 {
  font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:16px;
     width: 70%;
     margin-top: 10px;
     margin:auto;
    text-align: center;
    text-transform: capitalize;
    line-height: 28px;
 }
  .School-Fees-main
  {
    margin-top: 0px;
    margin-bottom: 40px;
   }
.Features-contant>h1
 {
  font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
 }
.Features-contant>p
 {
    font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:16px;
     width: 90%;
     margin-top: 10px;
     margin:auto;
    text-align: center;
    text-transform: capitalize;
    line-height: 28px;
 }
/*end*/

/*contact us page code*/
.map {
    width: 100%;
    height: 494px;
    background-size: cover;
    margin-top: 50px;
}
.form-fluid {
    position: relative;
    bottom: 300px;
    height: 400px;
    margin-bottom: -100px !important
}
.testimonail_row_bottom {
    margin-bottom: 40px;
}
.contact_form {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 4px 25px 3px #eaeaea;
}
.contact_left {
    width: 40%;
    float: left;
}
.contact_left_block {
    width: 100%;
    background: linear-gradient(to top,#2c3a65 ,#2c3a65);
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 60px;
}
.contact_left_block>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.contact_left_block>ul>li:nth-child(1) {
   color: #fff;
    font-weight: 600;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 50px;
    text-transform: capitalize;
}
.contact_left_block>ul li {
    font-weight: 400;
    font-family: Poppins;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
   /* text-transform: capitalize;*/
}
.contact_left_block>ul li:hover {
    color: #f8a31b;
    transition: 0.5s;
    cursor: pointer;
}
.follow2 {
    color: #fff;
    font-weight: 600;
    font-family: Poppins;
    font-size: 25px;
    margin-top: 53px;
    text-transform: capitalize;
}
.icon_ALL {
    margin-top: 10px;
    margin-left: -10px;
}
.contact_right {
    width: 60%;
    float: left;
    padding: 20px 20px 0;
}
.contant_head_contant {
    font-weight: 600;
    font-family: Poppins;
    font-size: 25px;
    color: #353c56;
    margin-top: 10px;
}
 .input_block_subject2 {
    width: 100%;
    margin-top: 20px;
}
.input_block, .input_block_subject2 {
    width: 100%;
    margin-top: 20px;
}
.input {
    width: 90%;
    padding: 10px 10px 10px 20px;
    border: 1px solid #eee;
}
.contact_right .help-block {
    margin-left: 20px;
    margin-bottom: -15px;
}
#model-user  .help-block {
  padding-left: 20px;
}
.contact_right .form-group {
    margin-bottom: 0!important;
}
.input_block_left {
    width: 50%;
    float: left;
}
.subject {
    border: 1px solid #eee;
        width: 95%;
    padding: 10px 10px 10px 20px;
}
.input, .subject {
    border-radius: 20px;
}
.address {
    height: 15%;
    border-radius: 20px;
    border: 1px solid #eee;
    resize: none;
    width: 95%;
    padding: 10px 10px 10px 20px;
}

.input_block_submit-button {
    width: 70%;
    border: 0 solid #8ddef1;
}
/*.input_block_submit-block {
    border-radius: 30px;
    background: #2d3864;
    padding: 5px 0 5px 0px;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    font-weight: 500;
    font-family: Poppins;
    color: #fff;
    outline: 0;
}*/
.input_block_submit-button
{
    width: 45%;
    border-radius: 30px;
    background: #2d3864;
    text-align: center;
    line-height: 50px;
    margin-left: 30%;
     /*margin-top: 15px;*/
    font-weight: 600;
    font-family: Poppins;
    color: #fff;
    outline: 0;
    border:1px solid #2d3864; 
}
.input_block_submit-button:hover{
    background-color: #fff;
    color: #2d3864;
    border:1px solid #2d3864;
    transition: 0.2s;
}

.google {
    display: block;
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    float: left;
    font-size: 16px;
    /*padding-top: 8px;*/
    margin-left: 10px;
    cursor: pointer;
    transition: 1s;
    padding: 8px;

}
.google:hover
{
    /*transform: scale(1.1);*/
    transform:          rotate(360deg);
    -ms-transform:      rotate(360deg);
    -moz-transform:     rotate(360deg);
    -webkit-transform:  rotate(360deg);
    -o-transform:       rotate(360deg);
    /*box-shadow: 0px 0px 20px 10px #e9ecef;*/
}
.google>a
{
  margin:auto;
  padding-left: 10px;
  color: #2d3864;
}
.google1>a
{
  /*padding-left: 15px;*/
  padding: 7px;
}
.google1 a:hover{
  color: #f8a31b;
}
.google2>a
{
  padding: 5px;
}
.google2 a:hover{
  color: #f8a31b;
}
.google3>a
{
  padding: 5px;
}
.google3 a:hover{
  color: #f8a31b;
}
.google4>a
{
  padding: 5px;
}
.google4 a:hover{
  color: #f8a31b;
}
.google5>a
{
  padding: 5px;
}
.google5 a:hover{
  color: #f8a31b;
}
{
  padding: 5px;
}
/*end contact*/

/*trems and condition page code*/
.trem-condition>h1
{
    font-weight: 500;
    font-family: Poppins;
    font-size: 20px;
    color: #2c3e50;
}
.trem-condition>hr
{
  margin-top: 0px;
}
.trem-condition>p
{
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
    color: #787878;
    text-align: justify;
    margin-bottom: 10px;
}
/*end code*/



/*company page code start*/
.we-provied
{

}
.company-contant>h1
{
    font-family: 'Poppins';
    font-weight: 600;
    color: #2c3e50;
    font-size: 35px;
    margin-top: 40px;
    text-align: left;
    text-transform: capitalize;
    line-height: 44px;
}
.company-contant>p
{
  font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-top: 23px !important;
    /*text-align: center;*/
    color: #787878;
    line-height: 30px;
}
.company-contant>p:nth-child(3)
{
  font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 25px;
    /*text-align: justify;*/
    color: #787878;
    line-height: 30px;
}
.team-img
{
  margin-top: 40px;
  margin-left: 15px;
}
.vision3
{
  margin: auto;
}
.team-png
{
  margin: auto;
  margin-top: 50px;
}
.company-main-block>h1
{
    font-family: 'Poppins';
    font-weight: 600;
    color: #2c3e50;
    font-size: 35px;
    margin-top:40px;
    margin-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}
.company-main-block>p
{
   font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    /*text-align: justify;*/
    color: #787878;
    line-height: 30px;
}

.company-vlalue-block>h1
{
    font-family: 'Poppins';
    font-weight: 600;
    color: #2c3e50;
    font-size: 35px;
    margin-top:40px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
}
.company-vlalue-block>p
{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
      color: #787878;
    text-align: center;
    width: 80%;
    margin:auto;

}
.company-list-contant
{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 15px;

}
.company-list-contant>li
{
  font-family: 'Open Sans';
    font-weight:600;
    color: #2c3e50;
    font-size:16px;
    margin-left: 6px;
    margin-top: 9px;
    text-transform: capitalize;
}
.company-list-contant>li>span
{
  width: 17px;
  height: 14px;
  float: left;
  margin-top: 5px;
  margin-right: 12px;
  background:url('../images/right-icon.png')no-repeat;
}

.our-mission
{
  margin-top: 20px;
  overflow: hidden;
 /* padding-bottom: 30px;*/
}
.our-value-block
{
  width: 100%
  border:1px solid #787887;
  margin-top: 50px;
  margin-bottom: 15px;
}
.circle-block
{
  width:  130px;
  height: 130px;
  border-radius: 65px;
  box-shadow: 0px 0px 15px 10px #f3f5f8;
  margin:auto;
  padding-top:28px;
  padding-left: 30px;
  text-align: center;

}
.circle-block>img
{
  text-align: center; 
}
.Our-values
{
  background: #f7f9fb;
  margin-top:10px;
  overflow: hidden;
  padding-bottom: 30px;
}
.our-value>h3
{
    font-family: 'Poppins';
    font-weight:500;
    color: #2c3e50;
    font-size:20px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
}
.our-value>p
{
    font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:15px;
    margin-top: 10px;
    text-align: center;
    line-height: 25px;
    /*text-transform: capitalize;*/
}
.team-our-main-block>h1
 {
  font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:35px;
    margin-top: 37px;
    text-align: center;
    text-transform: capitalize;
 }

.meet-our-team
{
  /*background: #f7f9fb;*/
  /*margin-top: 20px;*/
  overflow: hidden;
  padding-bottom: 80px;
}
.our-team-block
{
  margin-top: 40px;
}
.our-team
{
border:1px solid #eee;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px #eee;
padding:20px;
}
.quality-img
{
  padding-top:8px; 
  padding-left:5px; 
}
.circle-block-team
{
  width:  130px;
  height: 130px;
  border-radius: 65px;
  background:#ccd5de;
  margin:auto;
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;

}
.circle-block-team>img
{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: auto;
}

.our-team>h3
{
    font-family: 'Poppins';
    font-weight:500;
    color: #2c3e50;
    font-size:20px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
}
.our-team>p
{
    font-family: 'Open Sans';
    font-weight:400;
    color: #787878;
    font-size:15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 2px solid #1f2f61;
    width: 30%;
    z-index: 99999;
}
.owl-carousel
{
  z-index: 0px !important;
}

.model-header
{
  background: #1f2f61;
  /*padding: 20px 20px 8px 20px;*/
    padding: 20px 23px 8px 35px;
}

.model-header>p
{
  font-family: 'Poppins';
  font-weight: 400;
  color: #787878;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  padding-left: 19px;
}
.new-school
{
  font-family: 'Poppins';
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
  text-align: center;
}
.new-school-contant
{
  font-family: 'Poppins';
  font-weight: 300;
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
  text-align: center;
  width: 73%;
  margin:auto;
  margin-top: 5px;
}
/* The Close Button */
.close {
    color: #ffffff !important;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.Submit-btn
{
  padding: 5px 20px;
  border:1px solid #f8a31b;
  border-radius: 5px;
  background: none;
  outline: none;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #f8a31b;
  margin-top: 22px;
  margin-left: 6px;
}

.Submit-btn:hover
{
  padding: 5px 20px;
  background: #fff;
  color: #f8a31b;
  border-radius: 5px;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.form-book
{
  padding: 20px;
}
.form-book>p
{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  color: #787878;
  text-transform: capitalize;text-align: center;
}
.form-book>p>span
{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  color: #f8a31b;
  text-transform: capitalize;text-align: center;
}
/*end code */


/*why us page code start*/
.why-us-page
{
  background: #ffffff;
  margin-top:10px;
  overflow: hidden;
  padding-bottom: 0px;
}
.why-us-page>h1
{
    font-family: 'Poppins';
    font-weight:500;
    color: #2c3e50;
    font-size:20px;
    margin-top: 30px;
    text-align: center;
    text-transform: capitalize;
}
.Affordable
{
padding: 5px 10px 10px 5px; 
}
.Web-base
{
padding: 10px 0px 10px 0px; 
}
.Access
{
padding: 3px 10px 10px 10px; 
}
.ssl
{
padding: 0px;
position: relative;
right: 8px; 
}
.data-backup
{
padding: 10px 10px 10px 3px;
}
.school-staff
{
padding: 5px 0px 0px 0px;
position: relative;
right: 5px; 
}
.Parents
{
padding: 10px 10px 10px 3px; 
}
.Student
{
padding: 0px 0px 0px 6px;
position: relative;
bottom: 10px; 
}
.ppu
{
  padding: 17px 0px 0px 0px!important;
}
.Various
{
 padding: 20px 29px 0px 0px;
}
.why-value-block
{
  width: 100%
  border:1px solid #787887;
  margin-top: 40px;
  margin-bottom: 15px;
}
 .whybg-banner
  {
    width: 100%;
    height:770px;
    background:url('../images/bg.jpg') center center;
    background-size: cover;
    /*background-position: 0px -6px;*/
    /*padding-bottom: 100px;*/
  }
/*why page code close*/

/*became a partner page code start*/
.team-partner-img
{
  margin: auto;
  margin-top: 100px;
}
.form-became-partner-block
{
  margin-top: 50px;
  margin-bottom: 60px;
}
.form-became-partner
{
  width: 100%;
  box-shadow: 0px 0px 30px 5px #f3f5f5;
  padding-bottom: 40px;
}

.input-block
{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-bottom: 1px solid #cccccc;
}
.form-became-partner>h2
{
    font-family: 'Poppins';
    font-weight:600;
    color: #2c3e50;
    font-size:25px;
    /*padding-top: 30px;*/
    padding-top: 20px;
    padding-left: 30px;
    margin-top:0px;
    text-transform: capitalize;
}
.font-icon-block
{
  float: left;
  margin-top: 13px;
}
.input-box
{
  float: left;
  height: 40px;
  border:none;
  width: 89%;
  margin-left: 20px;
  font-family: 'Open Sans';
  font-weight:400;
  color: #2c3e50 !important;
  /*font-size:16px;*/
  font-size: 15px;
  box-shadow: none;
}
.input-box::placeholder{
  color: #2c3e50;
}
.input-box:focus{
  outline: none;
  box-shadow: none;
  border: 0px;
}
.phone-icon
{
 margin-top: -4px;
}
.company-icon
{
  margin-top: -4px;
}
.submit-partner
{
  width: 200px;
  float: right;
  border:1px solid #f8a31b;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Poppins';
  font-weight:400;
  font-size: 16px;
  background: #f8a31b;
  margin-right: 10%;
  padding: 10px;
  margin-top: 40px;
}
.submit-partner:hover
{
  float: right;
  border:1px solid #f8a31b;
  border-radius: 5px;
  color: #f8a31b;
  background: none;
  font-family: 'Poppins';
  font-weight:400;
  font-size: 16px;
}
.last-footer{
  background-color: #192652;
  padding: 10px 0px;
}
.footer-heading-last  ul li  i{
  float: left;
  width: 5%;
  padding-top: 3px;
}
.footer-heading-last  ul li  p{
    width: 95%;
    float: left;
    padding-right: 36px;
    padding-left: 20px;
}
.footer-heading-last ul li a{
  margin-top: 9px !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
/*end*/
}
#model-user .form-control{
  border-radius: 20px;
  padding: 20px 10px 20px 20px !important; 
  border: 1px solid #eee;
  resize: none;
  width: 100%; 
  box-shadow: none;
}
#model-user  .form-control2{
  padding: 10px 10px 10px 10px!important;
}
#model-user textarea.form-control{
  resize: none !important;
  padding-left: 19px !important;
}
/*#model-user .owl-carousel, .owl-carousel .owl-item{
  position: static !important;
}*/
.owl-carousel, .owl-carousel .owl-item{
  position: static !important;
}
.input-box:focus{
  outline: none !important;
  border:0px !important;
  box-shadow: none!important;
  -webkit-box-shadow: inset 0px !important;
    box-shadow: inset 0px !important;
}
.has-error .form-control{
   box-shadow: inset 0 1px 1px rgba(0,0,0,0) !important;
}
.has-success .form-control{
  box-shadow: inset 0 1px 1px rgba(0,0,0,0) !important;
}

.management-tool-content {
    float: left;
    width: 92%;
}
.Rectangle_2_copy_2 {
  border-radius: 5px;
  background-color: rgb( 248, 163, 27 );
  position: absolute;
  left: 901px;
  top: 746px;
  width: 198px;
  height: 51px;
  z-index: 18;
}
.companyname{
  padding-left: 6px;
}
.spaadderss2 i{
  padding-left: 5px;
}
/*.product-menu{
  position: relative;
}*/
.navbar-menu li{
  position: static;
}
.navbar-menu li ul {
  padding-left: 0px;
}
.productsub-menu {
  position: absolute;
  width: 100%;
  border: 0px red solid;
  background-color: #fff;
  padding: 11px 15px 11px 15px !important;
  top: 84px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 0px solid rgba(0,0,0,.15);
  z-index: 9999;
}
.productsub-menu li  ul {
  list-style: none;
}
.productsub-menu li  ul li a{
  font-size: 10px;
  color: #2c3e50;
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 400;
  line-height: 28px
}
.productsub-menu li ul li i{
  padding-right: 10px;
}
.productsub-menu li ul li:hover{
  color: #f9ac32;
  transition: 0.2s;
}

.productsub-menu li ul a:hover{
  color: #f9ac32;
  transition: 0.2s;
}
/*.productsub-menu li ul li i:hover{
  color: #f9ac32 !important;
  transition: 0.2s;
}*/
.navbar-menu li ul{
  list-style: none;
}
.productsub-menu{
  display: none;
}

.product-menu:hover .productsub-menu{
  display: block !important;
  transition: 0.2s;
}

.nav li a .current{
  background-color: #F5876E;
}

.active-menu{
    opacity: 0.9;
    border-bottom: 3px solid #f8a31b;
    /*line-height: 51px;*/
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #eee;
}
.active-menu .nav>li>a:hover{
    border: 0px !important;
}
.getintouch{
  padding-top: 10px !important;
}
/*#demos .owl-theme .owl-dots .owl-dot span{
    background: #f0f0f0 !important;
}*/
#demos .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #293869!important;
}

.contact_left_block ul li span i{
      width: 6%;
    float: left;
    padding-top: 4px;
}

.owl-item {
  /*background-color: #D2527F;*/
  color: white;
  text-align: center;
/*  padding: 100px 0;*/
}

.owl-prev {
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  /*padding: 20px;*/
}

.owl-next {
  float: right;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
}

.owl-dots {
  counter-reset: slides-num;
  /* Initialize counter. */
  position: absolute;
 /* top: 100%;*/
 top: 220%;
  left: 50%;
 /* margin-top: 15px;*/
}
.owl-dots:after {
     content: counter(slides-num);
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    padding-left: 18px;
    position: relative;
    left: 18px;
    top: -5px;
    color: #192652;
}

.owl-dot {
  display: inline-block;
  counter-increment: slides-num;
  /* Increment counter */
  margin-right: 5px;
}
.owl-dot span {
  display: none;
}
.owl-dot.active:before {
  content: counter(slides-num) " / ";
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    right: 103px;
    top: -3px;
    color:#192652;
}

.info {
  text-align: center;
/*  margin-top: 110px;*/
}

#demos2 .owl-dots:after{
  display: none;
}
#demos2 .owl-dot.active:before{
  display: none;
}

#demos .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
      background: #1f2f62 !important;
}
.confiu-img{
  padding-top: 10%;
}
.img-product2{
      padding: 16px 0px 0px 0px !important;
}
.img-product3{
  padding: 15px 3 10px 0px;
}
.our-value p {
  min-height: 280px !important;
  margin-bottom: 20px !important;
  border: 0px red solid !important;
  text-align: justify;
}
.parent-portal-contant ul{
  padding-left: 18px;
}
.parent-portal-contant ul li{
  color: red;
  text-align: left;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  color: #787878;
  line-height: 30px;
  width: 90%;
}
.address-div{
    float: left;
    width: 89%;
    padding-bottom: 27px;
}
.Access2{
  padding: 3px 10px 10px 0px;
}    
.ss2{
  right: 0px;
}    




/*changed*/
.state-error {
    color: red;
  }

#contact-us-form .state-error {
    color: red;
    padding-left: 20px;
  }

#model-user .state-error {
    color: red;
    padding-left: 20px;
  }

#became-our .state-error {
    color: red;
    padding-left: 55px;
}

.gap {
  margin-bottom: 0px;
  margin-top:10px;
}

.success-msg-color{
  text-align: center;
  color: green;
}

#became-our .success-msg-color{
  text-align: center;
  color: green;
  padding-top: 20px;
}

