
.unav
{
    width: 100%;
    height: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 999999;
    top: 0;
    /*left: 0;*/
    padding: 20px 10px 10px 310px !important;

}

.unav-burger
{
    width: 30px;
    height: 33px;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    display: block;
    position: relative;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    -webkit-border-radius: none;
            border-radius: none;
    cursor: pointer;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
    background-color: #182651;
    outline: none;
}

.unav-burger span
{
    height:3px;
    display: block;
    position: absolute;
    top: 15.5px;
    left: 10%;
    right: 10%;
    background-color: #d0d0d0;
    -webkit-transition: background 0.15s linear 0.15s;
    -o-transition: background 0.15s linear 0.15s;
    transition: background 0.15s linear 0.15s;
}

.unav-burger span::before,
.unav-burger span::after
{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    background-color: #d0d0d0;
}

.unav-burger span::before
{
    top: -10px;
    -webkit-transition: top 0.15s linear 0.15s, -webkit-transform 0.15s linear;
    transition: top 0.15s linear 0.15s, -webkit-transform 0.15s linear;
    -o-transition: top 0.15s linear 0.15s, transform 0.15s linear;
    transition: top 0.15s linear 0.15s, transform 0.15s linear;
    transition: top 0.15s linear 0.15s, transform 0.15s linear, -webkit-transform 0.15s linear;
}

.unav-burger span::after
{
    bottom: -10px;
    -webkit-transition: bottom 0.15s linear 0.15s, -webkit-transform 0.15s linear;
    transition: bottom 0.15s linear 0.15s, -webkit-transform 0.15s linear;
    -o-transition: bottom 0.15s linear 0.15s, transform 0.15s linear;
    transition: bottom 0.15s linear 0.15s, transform 0.15s linear;
    transition: bottom 0.15s linear 0.15s, transform 0.15s linear, -webkit-transform 0.15s linear;
}

.unav-burger-open
{
    background-color: #182651;
}

.unav-burger-open span
{
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
    background: none;
}

.unav-burger-open span::before
{
    top: 0px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: top 0.15s linear, -webkit-transform 0.15s linear 0.15s;
    transition: top 0.15s linear, -webkit-transform 0.15s linear 0.15s;
    -o-transition: top 0.15s linear, transform 0.15s linear 0.15s;
    transition: top 0.15s linear, transform 0.15s linear 0.15s;
    transition: top 0.15s linear, transform 0.15s linear 0.15s, -webkit-transform 0.15s linear 0.15s;
}

.unav-burger-open span::after
{
    bottom: 0px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: bottom 0.15s linear, -webkit-transform 0.15s linear 0.15s;
    transition: bottom 0.15s linear, -webkit-transform 0.15s linear 0.15s;
    -o-transition: bottom 0.15s linear, transform 0.15s linear 0.15s;
    transition: bottom 0.15s linear, transform 0.15s linear 0.15s;
    transition: bottom 0.15s linear, transform 0.15s linear 0.15s, -webkit-transform 0.15s linear 0.15s;
}

.unav nav
{
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 99999999;
    bottom: 0;
    /*background-color: #182651;*/
    background-color: rgba(0,0,0,0.8);
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
            transform: translateX(-270px);
    padding: 5px 10px;
}

.unav a
{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}
.unav a:hover{

}
.unav-sidebar-show
{
    -webkit-transform: translateX(0px)!important;
        -ms-transform: translateX(0px)!important;
            transform: translateX(0px)!important;
}
.menu-heading
{
    color: #fff;
     font-size: 25px !important;
     text-align: center !important;
      padding: 10px 10px 10px 10px !important;
      
}
.unav-item
{
    width: 100%;
    min-height: 35px;
    line-height: 35px;
    display: block;
     font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    /*padding-left: 3%;*/
    text-transform: capitalize;
    color: #fff;
    }

.unav-item:hover { background-color: #182651; }

.unav-dropdown
{
    cursor: pointer;
    position: relative;
}

.unav-dropdown.is-active
{
    height: auto;
    background-color: #182651;
}

.unav-dropdown:after
{
    content: '';
    border: 7px solid transparent;
    border-left: 7px solid #ebdcca;
    position: absolute;
    top: 10px;
    right: 1px;
}

.unav-dropdown.is-active:after
{
    -webkit-transform-origin: 25% 50%;
        -ms-transform-origin: 25% 50%;
            transform-origin: 25% 50%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.unav-dropdown-menu
{
    display: none;
    background-color: #fff;
    padding: 10px 10px;
}

.unav-dropdown-menu a
{
    display: block;
    color: #000;
    font-size: 13px;
}

.unav-dropdown-menu a:hover {     
    background-color: #182651;
    color: #fff;
}

.unav-dropdown-menu.is-active { display: block; }
@media (min-width:461px) and (max-width:767px)
{
/*mobile manu*/
/*.unav {
    width: 100%;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999 !important;
    padding: 20px 10px 10px 580px !important;
}*/
}

@media screen and (min-width: 769px)
{
    .unav-burger { display: none; }

    .unav nav
    {
        width: auto;
        position: relative;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        padding: 0px;
        top: auto;
    }

    .unav-item
    {
        width: auto;
        height: 30px;
        min-height: 30px;
        line-height: 30px;
        display: inline-block;
        padding: 10px 15px;
    }

    .unav-dropdown { padding-right: 30px; }

    .unav-dropdown:after
    {
        top: 17px;
    }

    .unav-dropdown-menu
    {
        position: absolute;
        top: 60px;
        left: 0px;
        width: auto;
        min-width: 100px;
        padding: 5px 10px;
        border: 1px solid #1e1c23;
        border-top: none;
        -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
    }
}
.mega-button{
    position: absolute; 
    right: 0px;
}
.unav{
    padding: 0px 10px 10px 0px !important;
}
.unav{
    position: absolute;
}